<!-- head.jsp Begin --> 
<!DOCTYPE html>
<html lang="ko" ng-app="myApp">   
<head>  
	<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale = 1, maximum-scale = 1, user-scalable=no" http-equiv="X-UA-Compatible" content="IE=Edge">           
	<meta charset="UTF-8">   
	<title>서울옥션</title>  
	
	<link rel="apple-touch-icon-precomposed" sizes="57x57" href="/images/icon/favic/apple-touch-icon-57x57.png" />
	<link rel="apple-touch-icon-precomposed" sizes="72x72" href="/images/icon/favic/apple-touch-icon-72x72.png" />
	<link rel="apple-touch-icon-precomposed" sizes="114x114" href="/images/icon/favic/apple-touch-icon-114x114.png" />
	<link rel="apple-touch-icon-precomposed" sizes="120x120" href="/images/icon/favic/apple-touch-icon-120x120.png" />
	<link rel="apple-touch-icon-precomposed" sizes="152x152" href="/images/icon/favic/apple-touch-icon-152x152.png" />
	<link rel="icon" type="image/png" href="/images/icon/favic/favicon-32x32.png" sizes="32x32"/>
	<link rel="icon" type="image/png" href="/images/icon/favic/favicon-16x16.png" sizes="16x16"/>
	<meta name="application-name" content="SeoulAuction" /> 
	
	<link href="./css/old/common.css" rel="stylesheet" type="text/css">  
	<link href="./css/old/onepcssgrid_live.css"  rel="stylesheet" type="text/css"> 
	<link href="./css/sa.common.2.0.css"  rel="stylesheet" type="text/css">  
	<link href="./css/bidLivepop.css"  rel="stylesheet" type="text/css">   
	<link href="./css/jquery.modally.css" rel="stylesheet" type="text/css">   
	
	<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/icon?family=Material+Icons">
	
	<script type="text/javascript" src="./js/angular/angular.min.js"></script>
	<script src="./js/angular/angular-sanitize.js"></script>
	<script type="text/javascript" src="./js/angular/angular-bind-html-compile.js"></script>
	<script type="text/javascript" src="./js/angular/app.js" ></script>
	<script type="text/javascript" src="./js/common.js" ></script>
	
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.10.2/jquery.js" ></script>
	<script type="text/javascript" src="./js/jquery.easing.1.3.js"></script>
	<script type="text/javascript" src="./js/jquery.panzoom.min.js"></script>
	<script type="text/javascript" src="./js/jquery.slides.min.js"></script>
	<script type="text/javascript" src="./js/jquery.placeholder.min.js"></script>
	<script type="text/javascript" src="./js/jquery.nicefileinput.min.js"></script>
	<script type="text/javascript" src="./js/jquery.mousewheel.min.js"></script>
	<script type="text/javascript" src="./js/jquery.mobile-events.js"></script>
	<script type="text/javascript" src="./js/iscroll.js"></script>
	<script type="text/javascript" src="./js/old/ui.js"></script>
	<script type="text/javascript" src="./js/old/frontCommon.js"></script>  
	<script type="text/javascript" src="./js/jquery.modally.js"></script>

	<style>
		.nowLot{
			border: 2px solid #62c3bc; 
		}
		.nowLot p,
		.nowLot span {  
			font-weight: bold;     
			color: #333;        
		}    
		</style>
</head> 
<body>     
	<div class="pop_wrap" >   
		<div class="title bidlive_header web_only">    
			<div class="client_onepcssgrid-1200 clearfix" style="padding: 0; height: 45px;">    
				<div class="bidlive_titbox">  
					<h2><a href="/" style="color: #fff;" title="홈으로" target="_blank">Seoul Auction LIVE</a></h2>            
				</div>  
				<!-- //언어 메뉴 language -->  
				<div class="bidlive_utilitybox">         
					<ul>
						<!-- 로그인 버튼 -->
						<li>
							<!-- <a href="/login" class="loginToggleBtn">LOGIN</a> -->
							<a href="javascript:void(0);" class="loginToggleBtn">LOGOUT</a> 
						</li>   
						
						<li ng-if="locale == 'ko'" class="util_box_lang"><a href="javascript:void(0);" style="color:#fff;">ENG</a></li>	
						
						<li class="utility_curren"> 
							<a class="" href="javascript:void(0);">    
								통화 <!-- curren -->  
								<span class="white_down"></span>       
							</a>  
							<ul class="sub_uti_curren">     
								<li><a href="">KRW</a></li> 
								<li><a href="">USD</a></li> 
							</ul>     
						</li> 
					</ul>    
				</div>    
			</div>   
			<div class="bidlive_notice"> 
               <a href="#lorem" target="_modal" class="button white" style="margin-right: 6px;" id="liveCurrChangeCheck"></a>
            </div>
			<div id="lorem" class="modally-init">
				<h1 class="modal-title" id="modalTitle"></h1>
				<p style="text-align: justify; margin: 10px auto 20px; display: table;"> 
	               	 원화(KRW) 이외의 통화는 해외 응찰자들의 참고를 위해 제공됩니다.<br>  
			                    모든 응찰 및 결제는 원화(KRW)로 이뤄집니다.<br> 
			                    서울옥션은 환율 적용 과정에서 생기는 차이 및 실수에 대해서 책임을 부담하지 않습니다.  
                </p>
                <lable for="currChangeCheck">위 내용에 동의합니다. <input type="checkbox" id="currChangeCheckbox" ></lable><br>
                <div style="margin: 10px 5px 0px 5px;" class="btn_style01 green02"><button ng-click="currChangeOk(false)" style="padding: 2px 13px;">취소</button></div>
                <div style="margin: 10px 5px 0px 5px;" class="btn_style01 green02"><button ng-click="currChangeOk(true)" style="padding: 2px 13px;">확인</button></div>
			</div>  
		</div> <!-- //title -->       
        
	    <!--main -->    
		<div class="client_onepcssgrid-1200 clearfix">     
			<div class="bidlive_resizeFull clearfix">  
				<div class="bidlive_boxLeft web_only clearfix">       
					<div class="bidnav_tapname">  
						<ul>  
							<li class="bidnav_tapOn" data-tab="navitab01">List</li>                      
						</ul>                
					</div>  
					<div class="bidlive_navigationbox">
						<div class="bidlive_navigationblock" id="naviDiv">
							<!-- 근현대 탭 네비게이션 -->     
							<div class="naviImgbox on" id="navitab01">                     
								<div class="bidnav_naviimg" class="nowLot">
									<div class="img_navigation">       
										<img src="./images/img/img_history09.jpg" alt="작품 이미지" />
									</div>      
									 
									<div class="bidnav_lotinfo">   
								        <span class="wish_btn bidlive_wishbtn bidlive_wishbtn_sele"></span> <!-- 관심작품일때 -->
								        <!-- live이미지  --> 
								        <p style="margin-bottom: 5px;">    
								        	<span class="lotNo" title="{{lotNavi.LOT_NO}}">1</span>  
								        </p> 
										<p class="textshort artistName">이우환</p>   
										<p class="textshort titleName">무제</p>  

										<p class="textshort priceInfo" ng-if="(lotNavi.LOT_NO != lot.LOT_NO) && lotNavi.MAX_BID_PRICE > 0">
											<span style="color: #f00;">낙찰가 99,000,000</span>  
										</p>     
									</div> 
								</div>   
							</div>
							<div class="naviImgbox on" id="navitab01">                     
								<div class="bidnav_naviimg" class="nowLot">
									<div class="img_navigation">       
										<img src="./images/bg/no_image.jpg" />            
									</div>   
									<div class="bidnav_lotinfo">   
										<p class="tac" style="margin-top:25px; padding-left:0px;">현 작품은 <span class="">출품이 취소</span>되었습니다.</p>
									</div>  
								</div>   
							</div>
							<div class="naviImgbox on" id="navitab01">                     
								<div class="bidnav_naviimg" class="nowLot">
									<div class="img_navigation">       
										<img src="./images/img/img_history09.jpg" alt="작품 이미지" />
									</div>      
									 
									<div class="bidnav_lotinfo">   
								        <span class="wish_btn bidlive_wishbtn "></span> <!-- 관심작품일때 bidlive_wishbtn_sele-->
								        <!-- live이미지  --> 
								        <p style="margin-bottom: 5px;">    
								        	<span class="lotNo" title="{{lotNavi.LOT_NO}}">2</span>  
								        	<span class="navi_liveicon"></span>  
								        </p> 
										<p class="textshort artistName">이우환</p>   
										<p class="textshort titleName">무제</p>  
										
										<p class="textshort priceInfo"> 
			    							<span>추정가 10,000,000</span>
										<!-- </p>
										<p class="textshort priceInfo" ng-if="(lotNavi.LOT_NO != lot.LOT_NO) && lotNavi.MAX_BID_PRICE > 0">
											<span style="color: #f00;">낙찰가 99,000,000</span>  
										</p>      -->
									</div> 
									<input ng-if="lotNavi.LOT_NO == lot.LOT_NO" type="hidden" id="nowLotNo" data-index="{{lotNavi.LOT_IDX}}" value="{{lotNavi.LOT_NO}}"/>     
								</div>   
							</div>
							<div class="naviImgbox on" id="navitab01">                     
								<div class="bidnav_naviimg" class="nowLot">
									<div class="img_navigation">       
										<img src="./images/img/img_history09.jpg" alt="작품 이미지" />
									</div>      
									 
									<div class="bidnav_lotinfo">   
								        <span class="wish_btn bidlive_wishbtn "></span> <!-- 관심작품일때 -->
								        <!-- live이미지  --> 
								        <p style="margin-bottom: 5px;">    
								        	<span class="lotNo" title="{{lotNavi.LOT_NO}}">3</span>  
								        	
								        </p> 
										<p class="textshort artistName">이우환</p>   
										<p class="textshort titleName">무제</p>  
										
										<p class="textshort priceInfo"> 
			    							<span>추정가 10,000,000</span>
										<!-- </p>
										<p class="textshort priceInfo" ng-if="(lotNavi.LOT_NO != lot.LOT_NO) && lotNavi.MAX_BID_PRICE > 0">
											<span style="color: #f00;">낙찰가 99,000,000</span>  
										</p>      -->
									</div> 
									<input ng-if="lotNavi.LOT_NO == lot.LOT_NO" type="hidden" id="nowLotNo" data-index="{{lotNavi.LOT_IDX}}" value="{{lotNavi.LOT_NO}}"/>     
								</div>   
							</div>
							<div class="naviImgbox on" id="navitab01">                     
								<div class="bidnav_naviimg" class="nowLot">
									<div class="img_navigation">       
										<img src="./images/img/img_history09.jpg" alt="작품 이미지" />
									</div>      
									 
									<div class="bidnav_lotinfo">   
								        <span class="wish_btn bidlive_wishbtn "></span> <!-- 관심작품일때 bidlive_wishbtn_sele-->
								        <!-- live이미지  --> 
								        <p style="margin-bottom: 5px;">    
								        	<span class="lotNo" title="{{lotNavi.LOT_NO}}">4</span>  
								        	
								        </p> 
										<p class="textshort artistName">이우환</p>   
										<p class="textshort titleName">무제</p>  
										
										<p class="textshort priceInfo"> 
			    							<span>추정가 10,000,000</span>
										<!-- </p>
										<p class="textshort priceInfo" ng-if="(lotNavi.LOT_NO != lot.LOT_NO) && lotNavi.MAX_BID_PRICE > 0">
											<span style="color: #f00;">낙찰가 99,000,000</span>  
										</p>      -->
									</div> 
									<input ng-if="lotNavi.LOT_NO == lot.LOT_NO" type="hidden" id="nowLotNo" data-index="{{lotNavi.LOT_IDX}}" value="{{lotNavi.LOT_NO}}"/>     
								</div>   
								<div class="naviImgbox on" id="navitab01">                     
									<div class="bidnav_naviimg" class="nowLot">
										<div class="img_navigation">       
											<img src="./images/img/img_history09.jpg" alt="작품 이미지" />
										</div>      
										 
										<div class="bidnav_lotinfo">   
											<span class="wish_btn bidlive_wishbtn "></span> <!-- 관심작품일때 -->
											<!-- live이미지  --> 
											<p style="margin-bottom: 5px;">    
												<span class="lotNo" title="{{lotNavi.LOT_NO}}">5</span>  
												
											</p> 
											<p class="textshort artistName">이우환</p>   
											<p class="textshort titleName">무제</p>  
											
											<p class="textshort priceInfo"> 
												<span>추정가 10,000,000</span>
											<!-- </p>
											<p class="textshort priceInfo" ng-if="(lotNavi.LOT_NO != lot.LOT_NO) && lotNavi.MAX_BID_PRICE > 0">
												<span style="color: #f00;">낙찰가 99,000,000</span>  
											</p>      -->
										</div> 
										<input ng-if="lotNavi.LOT_NO == lot.LOT_NO" type="hidden" id="nowLotNo" data-index="{{lotNavi.LOT_IDX}}" value="{{lotNavi.LOT_NO}}"/>     
									</div>   
								</div>
								<div class="naviImgbox on" id="navitab01">                     
									<div class="bidnav_naviimg" class="nowLot">
										<div class="img_navigation">       
											<img src="./images/img/img_history09.jpg" alt="작품 이미지" />
										</div>      
										 
										<div class="bidnav_lotinfo">   
											<span class="wish_btn bidlive_wishbtn "></span> <!-- 관심작품일때 -->
											<!-- live이미지  --> 
											<p style="margin-bottom: 5px;">    
												<span class="lotNo" title="{{lotNavi.LOT_NO}}">6</span>  
												
											</p> 
											<p class="textshort artistName">이우환</p>   
											<p class="textshort titleName">무제</p>  
											
											<p class="textshort priceInfo"> 
												<span>추정가 10,000,000</span>
											<!-- </p>
											<p class="textshort priceInfo" ng-if="(lotNavi.LOT_NO != lot.LOT_NO) && lotNavi.MAX_BID_PRICE > 0">
												<span style="color: #f00;">낙찰가 99,000,000</span>  
											</p>      -->
										</div> 
										<input ng-if="lotNavi.LOT_NO == lot.LOT_NO" type="hidden" id="nowLotNo" data-index="{{lotNavi.LOT_IDX}}" value="{{lotNavi.LOT_NO}}"/>     
									</div>   
								</div>
								<div class="naviImgbox on" id="navitab01">                     
									<div class="bidnav_naviimg" class="nowLot">
										<div class="img_navigation">       
											<img src="./images/img/img_history09.jpg" alt="작품 이미지" />
										</div>      
										 
										<div class="bidnav_lotinfo">   
											<span class="wish_btn bidlive_wishbtn bidlive_wishbtn_sele"></span> <!-- 관심작품일때 -->
											<!-- live이미지  --> 
											<p style="margin-bottom: 5px;">    
												<span class="lotNo" title="{{lotNavi.LOT_NO}}">7</span>  
												
											</p> 
											<p class="textshort artistName">이우환</p>   
											<p class="textshort titleName">무제</p>  
											
											<p class="textshort priceInfo"> 
												<span>추정가 10,000,000</span>
											<!-- </p>
											<p class="textshort priceInfo" ng-if="(lotNavi.LOT_NO != lot.LOT_NO) && lotNavi.MAX_BID_PRICE > 0">
												<span style="color: #f00;">낙찰가 99,000,000</span>  
											</p>      -->
										</div> 
										<input ng-if="lotNavi.LOT_NO == lot.LOT_NO" type="hidden" id="nowLotNo" data-index="{{lotNavi.LOT_IDX}}" value="{{lotNavi.LOT_NO}}"/>     
									</div>   
								</div>
							</div>
						</div> 
					</div>
				</div><!-- //bidlive_boxLeft -->    
			
				<div class="bidlive_boxCenter clearfix">     
					<div class="bidlive_topbox web_only">   
						<ul>
							<li style="padding: 0 10px; background:#62c3bc; color:#fff; letter-spacing: 2px;">    
								<span class="bidlive_LIVEicon"></span>
								<span class="bidlive_LIVEicon_del"></span> 
								<span style="text-indent:15px;">LIVE</span>  
							</li>  
							<li style="padding: 0 10px;">  
								<span class="num" ng-if="[408,412,418].indexOf(sale.SALE_NO) < 0" ng-bind="sale.SALE_TH | localeOrdinal"></span>
								<span ng-bind="sale.TITLE_JSON[locale]"></span> 
							</li>        
						</ul>  
					</div>  
			
					<div class="bidlive_video bidlive_videobox">    
						<div>     
							<video id="llnw-rts-subscriber" width="640" height="480" autoplay controls playsinline muted></video>  
						</div>     
					</div><!-- //video -->   
				
					<!-- notice -->  
					<div class="bidlivenotice_slide clearfix">
						<div class="notice_head">공지사항</div>      
						<div class="bidlivenotice_txtbox">      
							<ul>  
								<li class="bidlivenotice_lifirst">          
									<span>온라인 응찰은 철회가 불가능합니다.</span>   	
								</li>  
								<li>   
									<span>응찰 우선 순위는 서면 > 현장 > 온라인 순입니다.</span>  
								</li> 
								<li>   
									<span>온라인 응찰은 응찰신청한 정회원만 가능합니다.</span>  
								</li> 
								<li>    
									<span>동영상의 금액은 시차가 있을 수 있으니,응찰 화면의 응찰가를 확인 후 응찰 부탁드립니다.</span>     
								</li>
								<li>      
									<span>chrome(크롬),엣지(Edge) 브라우저를 이용하시길 권장합니다.</span>    
								</li>
							</ul> 
						</div>   
					</div> <!-- //notice -->      
				
					<div class="re-flash">         
						<a onClick="window.location.reload()" style="cursor:pointer; color: #444;">         
							<i class="material-icons" style="vertical-align:middle; font-size: 16px; font-weight: bold; color: #444;">     
								refresh 
							</i>    
							동영상 새로고침  
						</a>    
					</div> <!-- //새로고침 -->     
					     
					<!-- tabs -->  
					<div class="bidlive_tab web_only clearfix" style="padding-bottom: 10px;">        
						<div class="tab boxCenter_tab">         
							<button class="tablinks" onclick="Centertab(event, 'Lot_tab')" id="defaultOpen">Lot</button>
							<button class="tablinks" onclick="Centertab(event, 'BidHistory_tab')"><span ng-if="locale=='ko'">응찰기록</span></button>  
							<button class="tablinks" onclick="Centertab(event, 'WishList_tab')"><span ng-if="locale=='ko'">관심작품</span></button>
						</div>        
				 		<!-- lot 정보  -->
						<div id="Lot_tab" class="tabcontent bidlive_tapcation clearfix">  
							<div class="tab_lotcaption" style="position:relative;">
								<input type="hidden" id="elClickLotNo" value="{{lot.LOT_NO}}" />
								<div class="bidlive_tapimg">
									<img id="imgSrc" oncontextmenu="return false" src="./images/img/img_history09.jpg" alt="해당 작품 이미지" />
									<!-- 출품취소 시 이미지 -->
									<!-- <img id="imgSrc" oncontextmenu="return false" src="./images/bg/no_image.jpg" alt="no image"/> -->
								</div>         
								<div ng-hide="isReentry" class="tab_box_img_caption" style="float:left; width: 60%;">     
									<span>Lot. </span><span id="lotNo" ng-bind="lot.LOT_NO">3</span>                   
									<p class="textshort" style="font-size: 16px; padding-top: 10px; height: 19px;" id="artistName">이우환</p>     
									<p class="textshort" style="font-size: 16px; height: 19px;" id="titleName">무제</p> 
									<p class="textshort lot_price" style="margin-top: 10px; font-weight: bold; font-size:12px;" ng-show="!isPriceInqYn">  
										<span id="startPrice">KRW 10,000,000</span> 
		    							<span > ~ </span>    	   
		    							<span id="toPrice">KRW 50,000,000</span> 
									</p>  
									<!-- 환율 -->      
									<p  class="textshort bidlive_usdcurrency" ng-show="curren != 'KRW' && !isPriceInqYn" >       
										( USD <span id="fromCurrPrice2">12,345</span>  
		    							<span> ~ </span>	
		    							<span id="toCurrPrice2">34,434</span> )  
									</p>
									<div style="margin: 10px 0;">      
										<a href="javascript:void(0);" target="_blank" style="color: #999; font-size:12px; font-weight: bold; border-bottom: 1px solid #999; padding-bottom: 2px;"> 
											상세보기        
										</a>     
									</div> 
									<!-- 현재 lot이동 버튼 -->   
									<span style="position:absolute; top:7px; right:0; cursor:pointer;  font-size: 12px; color: #555; font-weight:900;" 
										ng-click="nowLotMove(lot.LOT_NO,lot.ARTIST_NAME_JSON[locale],lot.TITLE_JSON[locale], lot.MATE_NM_EN, lot.EXPE_PRICE_FROM_JSON[base_currency], lot.EXPE_PRICE_TO_JSON[base_currency], lot.EXPE_PRICE_INQ_YN, lot.FILE_NAME, lot.FILE_PATH)">
										<span class="now_lotmove">현재 LOT 이동</span>
									</span>   
								</div>  
							
								<!-- 출품취소 시 내용 -->
								<!-- <div class="tab_box_img_caption" style="float:left; width: 60%;">  
									<p class="" style="margin-top:10px; padding-left:20px;" >현 작품은 <span class="">출품이 취소</span>되었습니다.</p>
								</div>      -->
							</div>       
						</div> <!-- //Lot_tab  -->     
						
						<!-- //응찰기록 -->  
						<div id="BidHistory_tab" class="tabcontent clearfix" style="border: 0;">
							<div class="tab_history">          
								<table class="bid_history_table"> 
									<caption style="text-indent: -9999px;"><span ng-if="locale=='ko'">응찰기록</span><span ng-if="locale=='en'">Bid history</span></caption> 
									<colgroup>  
										<col width="15%" />     
										<col width="35%" />      
										<col width="35%" />   
										<col width="15%" />     
									</colgroup>     
									<thead> 
										<tr>
											<th scope="col">
												<div class="bidtable_tit">
													Lot
												</div>
											</th>   
											<th scope="col">
												<div class="bidtable_tit">
													최고응찰금액
												</div>
											</th>    
											<th scope="col">
												<div class="bidtable_tit">
													낙찰가
												</div>
											</th>     
											<th scope="col">
												<div class="bidtable_tit">
													현황 
												</div>
											</th>   
										</tr>  
									</thead>
									<tbody style="text-align:center;"> 
										<tr>
											<td ng-bind="myBidHistory.LOT_NO">1</td> 
											<td ng-bind="myBidHistory.LAST_BID_PRICE | number : 0">80,000,000</td>  
											<td ng-bind="myBidHistory.HAMMER_BID_PRICE | number : 0">90,000,000</td>
											<td ng-if="myBidHistory.HAMMER_STAT == 'hammer'">낙찰</td> 
										</tr>
										<tr>
											<td ng-bind="myBidHistory.LOT_NO">1</td> 
											<td ng-bind="myBidHistory.LAST_BID_PRICE | number : 0">80,000,000</td>  
											<td ng-bind="myBidHistory.HAMMER_BID_PRICE | number : 0">90,000,000</td>
											<td ng-if="myBidHistory.HAMMER_STAT == 'hammer'">낙찰</td> 
										</tr>
										<tr>
											<td ng-bind="myBidHistory.LOT_NO">1</td> 
											<td ng-bind="myBidHistory.LAST_BID_PRICE | number : 0">80,000,000</td>  
											<td ng-bind="myBidHistory.HAMMER_BID_PRICE | number : 0">90,000,000</td>
											<td ng-if="myBidHistory.HAMMER_STAT == 'hammer'">낙찰</td> 
										</tr>
										<tr>
											<td colspan="4">응찰내역이 없습니다.</td> <!-- 진행중 -->
										</tr>
									</tbody> 
								</table> 
							</div> 
						</div><!-- //BidHistory_tab --> 
						       
 						<!-- 관심작품 보기 -->
						<div id="WishList_tab" class="tabcontent clearfix" style="border: 0;">  
							<div class="bidlive_wishListwarp"> 
								<div style="display:flex; justify-content: center; align-items: center; height: 100%;">
									<p style="color: #999;">리스트에 담긴 작품이 없습니다.</p>
								</div>  
								<div class="wishList_box">     
									<div class="img_navigation" >      
										<img oncontextmenu="return false" src="./images/img/img_history09.jpg" alt="타이틀">   
									</div> 
									<div class="bidnav_lotinfo wishilist_info"> 
										<span class="lotNo" ng-bind="lot.LOT_NO" title="{{lot.LOT_NO}}">1</span>  
										<span class="wish_btn bidlive_wishbtn"></span>
										<span ng-if="lot.STAT_CD != 'reentry'">
											<p class="textshort artistName" ng-bind="lot.ARTIST_NAME_JSON[locale]" title="{{lot.ARTIST_NAME_JSON[locale]}}" style="margin-top: 5px;">이우환</p>     
											<p class="textshort titleName" ng-bind="lot.TITLE_JSON[locale]" title="{{lot.TITLE_JSON[locale]}}">무제</p>     
											<p class="textshort priceInfo" ng-if="lot.EXPE_PRICE_INQ_YN != 'Y' && (lot.EXPE_PRICE_TO_JSON[base_currency]) != 0 && (lot.EXPE_PRICE_FROM_JSON[base_currency]) != 0 && (lot.EXPE_PRICE_TO_JSON[base_currency]) != null && (lot.EXPE_PRICE_FROM_JSON[base_currency]) != null" title="{{lot.EXPE_PRICE_FROM_JSON[base_currency] | currency : base_currency + ' ' : 0}} ~ {{lot.EXPE_PRICE_TO_JSON[base_currency] | number : 0}}">
												<span ng-bind="lot.EXPE_PRICE_FROM_JSON[base_currency] | currency : base_currency + ' ' : 0">10,000,000</span>  
				    							<span ng-if="(lot.EXPE_PRICE_FROM_JSON[base_currency] != null) || (lot.EXPE_PRICE_TO_JSON[base_currency] != null)"> ~ </span>	
				    							<span ng-bind="lot.EXPE_PRICE_TO_JSON[base_currency] | number : 0">50,000,000</span> 
											</p>  
										</span>   
										<div style="text-align:right;">         
											<a style="color: #999; font-size:12px; font-weight: bold; text-decoration: underline;" ng-href="{{'/lotDetail?sale_no=' + sale.SALE_NO + '&lot_no=' + lot.LOT_NO}}" target="_blank">
												상세보기       
											</a>         
										</div> 
									</div>  
								</div><!-- //wishList_box  --> 
								<div class="wishList_box">     
									<div class="img_navigation" >      
										<img oncontextmenu="return false" src="./images/img/img_history09.jpg" alt="타이틀">   
									</div> 
									<div class="bidnav_lotinfo wishilist_info"> 
										<span class="lotNo" ng-bind="lot.LOT_NO" title="{{lot.LOT_NO}}">1</span>  
										<span class="wish_btn bidlive_wishbtn"></span>
										<span ng-if="lot.STAT_CD != 'reentry'">
											<p class="textshort artistName" ng-bind="lot.ARTIST_NAME_JSON[locale]" title="{{lot.ARTIST_NAME_JSON[locale]}}" style="margin-top: 5px;">이우환</p>     
											<p class="textshort titleName" ng-bind="lot.TITLE_JSON[locale]" title="{{lot.TITLE_JSON[locale]}}">무제</p>     
											<p class="textshort priceInfo" ng-if="lot.EXPE_PRICE_INQ_YN != 'Y' && (lot.EXPE_PRICE_TO_JSON[base_currency]) != 0 && (lot.EXPE_PRICE_FROM_JSON[base_currency]) != 0 && (lot.EXPE_PRICE_TO_JSON[base_currency]) != null && (lot.EXPE_PRICE_FROM_JSON[base_currency]) != null" title="{{lot.EXPE_PRICE_FROM_JSON[base_currency] | currency : base_currency + ' ' : 0}} ~ {{lot.EXPE_PRICE_TO_JSON[base_currency] | number : 0}}">
												<span ng-bind="lot.EXPE_PRICE_FROM_JSON[base_currency] | currency : base_currency + ' ' : 0">10,000,000</span>  
				    							<span ng-if="(lot.EXPE_PRICE_FROM_JSON[base_currency] != null) || (lot.EXPE_PRICE_TO_JSON[base_currency] != null)"> ~ </span>	
				    							<span ng-bind="lot.EXPE_PRICE_TO_JSON[base_currency] | number : 0">50,000,000</span> 
											</p>  
										</span>   
										<div style="text-align:right;">         
											<a style="color: #999; font-size:12px; font-weight: bold; text-decoration: underline;" ng-href="{{'/lotDetail?sale_no=' + sale.SALE_NO + '&lot_no=' + lot.LOT_NO}}" target="_blank">
												상세보기       
											</a>         
										</div> 
									</div>  
								</div><!-- //wishList_box  --> 
								
							</div><!-- //bidlive_wishListwarp -->    
						</div><!-- //WishList_tab --> 
						 
					</div> <!-- //bidlive_tab -->      
				</div> <!-- //bidlive_boxCenter --> 
			
				<div class="bidlive_boxRight clearfix">     
					<div class="bidlive_Rtop">
						<div class="bidlive_topbox">  
							<ul> 
								<li style="padding: 0 15px;" class="web_only">제100회 미술품 경매</li> 
								<li class="m_utility_curren m_only">  
									<a class="" href="javascript:void(0);">   
										통화 <!-- curren --> 
										<span class="white_down"></span>      
									</a>  
									<ul class="m_sub_uti_curren">    
										<li ng-click="currChange('KRW')"><a href="">KRW</a></li>    
										<li ng-repeat="curr in currenList" ng-click="currChange(curr.EXCH_CURR_CD)"><a href="">USD</a></li>     
									</ul>       
								</li>   
								<li style="padding: 0 10px; float:right;">1 /<span style="color: #999;">100</span></li>
							</ul>  
						</div>   
						<!-- 현재 진행 응찰 정보-->
						<div class="bidlive_Rcaption">     
							<div class="Rcaption_imgbox">          
								<img oncontextmenu="return false" src="./images/img/img_history09.jpg" alt="이미지 타이틀" />  
							</div>  
							<div class="Rcaption_caption">
								<p class="textshort bidimg_tit"><span ng-bind="lot.ARTIST_NAME_JSON[locale]" title="{{lot.ARTIST_NAME_JSON[locale]}}">이우환</span></p>   
								<p class="textshort bidimg_tit" ng-bind="lot.TITLE_JSON[locale]" title="{{lot.TITLE_JSON[locale]}}">무제</p> 
								<p class="textshort" ng-if="lot.EXPE_PRICE_INQ_YN != 'Y' && (lot.EXPE_PRICE_TO_JSON[base_currency]) != 0 && (lot.EXPE_PRICE_FROM_JSON[base_currency]) != 0 && (lot.EXPE_PRICE_TO_JSON[base_currency]) != null && (lot.EXPE_PRICE_FROM_JSON[base_currency]) != null" style="font-size:12px; font-weight: 900;" title="{{lot.EXPE_PRICE_FROM_JSON[base_currency] | currency : base_currency + ' ' : 0}} ~ {{lot.EXPE_PRICE_TO_JSON[base_currency] | number : 0}}">                    
									<span ng-bind="lot.EXPE_PRICE_FROM_JSON[base_currency] | currency : base_currency + ' ' : 0">10,000,000</span> 
	    							<span ng-if="(lot.EXPE_PRICE_FROM_JSON[base_currency] != null) || (lot.EXPE_PRICE_TO_JSON[base_currency] != null)"> ~ </span>	
	    							<span ng-bind="lot.EXPE_PRICE_TO_JSON[base_currency] | number : 0">50,000,000</span>
								</p>    
								<!-- 환율 --> 
								<p class="textshort bidlive_usdcurrency" ng-if="curren != 'KRW' && lot.EXPE_PRICE_INQ_YN != 'Y' && (lot.EXPE_PRICE_TO_JSON[base_currency]) != 0 && (lot.EXPE_PRICE_FROM_JSON[base_currency]) != 0 && (lot.EXPE_PRICE_TO_JSON[base_currency]) != null && (lot.EXPE_PRICE_FROM_JSON[base_currency]) != null" title="{{curren}}{{fromCurrPrice}} ~ {{toCurrPrice}}">       
									( USD <span id="fromCurrPrice1">12,345</span> 
	    							<span> ~ </span>	
	    							<span id="toCurrPrice1">22,222</span> ) 
								</p>
							</div> 
						</div><!--//bidlive_Rcaption  --> 
						 
						<!-- 현재가/호가/응찰가 -->  
						<div class="Rcaption_price clearfix">     
							<div class="Rcaption_pricetxt">     
								<!-- 현재가 -->
								<div class="Rcaption_priceCurrent">
									<p> 
										<span ng-if="locale=='ko'">현재가</span>
									</p>
									<p>   
										<strong style="vertical-align:middle;"><span ng-if="sale.CURR_CD=='KRW'">KRW</span><span ng-if="sale.CURR_CD=='HKD'">HKD</span>&nbsp;12,222<!-- &nbsp;[{{sale.CURR_CD}}] --></strong>
									</p>    
									<!-- 환율 -->    
									<p class="textshort bidlive_usdcurrency" ng-if="curren != 'KRW'" >     
										( USD <span id="NowCurrPrice">12,345</span> )
									</p>    
								</div>   
								       
								<!-- 응찰가(주석 및 지우면 안됨! 지우면 응찰버튼 작동 안함) -->  
								<div class="Rcaption_priceBid" style="display:none;">   
									<label for="bidPriceInputOnline" style="vertical-align:middle; overflow: hidden;">           
										<span style="color:#ff0000;">   
											<span ng-if="locale=='ko'">응찰가</span>
											<strong><span ng-if="sale.CURR_CD=='KRW'">￦</span></strong>	
										</span>  
									</label>  
									<input type="text" style="color:#ff0000; font-weight:bold; border: 0; padding-left: 0;" ng-model="bid_price_input_online" id="bidPriceInputOnline" name="bidPriceInputOnline" onkeyup="getNumber(this)" readonly/> 
								</div> <!-- //Rcaption_priceBid --> 
						    </div> <!-- //Rcaption_pricetxt -->       
								    
							<!-- 응찰 버튼 (고객용) --> 	
							<div class="Rcaption_Bidbtnbox clearfix"> 
								<span>
									<button type="button">  
										<span ng-if="locale=='ko'"><span ng-if="lot.IS_WIN == 'Y'">최고가 응찰중</span></span>   	
							  			<p style="text-align:center; width: 100%; margin: 0 auto;"> 
											<span style="font-weight:bold;">
												<strong><span ng-if="sale.CURR_CD=='KRW'">KRW</span><span ng-if="sale.CURR_CD=='HKD'">HKD</span></strong>
												<span ng-bind="bid_price_input_online" id="bidPriceInputOnline" >&nbsp;90,000,000</span> 
											</span>  
										</p>   
										<!-- 환율 -->         
										<p class="textshort" ng-if="curren != 'KRW'" style="font-size: 12px;">       
											( USD <span ng-bind="bid_price_input_online_CURR" id="bidPriceInputOnlineCurr">123,345</span> )  
										</p> 
							  		</button>    
							  	</span>   
							  	<span ng-if="custInfo.CUST_NO > 0 && lot.LIVE_CLOSE_YN!='N' && offBidList.length > 0 && custInfo.PADD_NO > 0">
									<button type="button" ng-disabled="lot.IS_WIN == 'Y'">   
						  				<span ng-if="locale=='ko'">응찰마감</span> 	 
						  				<span ng-if="locale!='ko'">Bid Closed</span>  
							  		</button> 
							  	</span> 
							  	<span ng-if="custInfo.CUST_NO > 0 && lot.LIVE_CLOSE_YN!='N' && offBidList.length == 0 && custInfo.PADD_NO > 0">
									<button type="button">  
						  				<span ng-if="locale=='ko'">응찰준비</span> 	
						  				<span ng-if="locale!='ko'">Bid Ready</span>
							  		</button> 
							  	</span>
								<!-- 비로그인 및 사전신청 하지 않는 경우  -->
							  	<!-- <span ng-if="!custInfo.CUST_NO">
									<button type="button" onClick="location.href='/login'">
										로그인 하기 
									</button>	
							  	</span> -->
							  	<!-- 패들번호 없는 경우 -->
							  	<!-- <span ng-if="custInfo.CUST_NO > 0 && !custInfo.PADD_NO">
									<button type="button" disabled > 
									<span ng-if="locale=='ko'">사전 신청하신 분만 응찰 가능합니다</span>
									<span ng-if="locale=='en'">Only those who have applied in advance can bid</span>
									</button>	
							  	</span>   -->
							</div><!-- //bidlive_clinet_btn -->    
						</div> <!-- //Rcaption_price -->   
					</div> <!-- //bidlive_Rtop -->     
					
					<!-- 기준통화/id/pw--> 
					<div class="clearfix" style="padding: 10px;">                  
						<div class="bidlive_accountlist">       
							<span><strong>ID</strong>: <span ng-bind="custInfo.LOGIN_ID">hello</span></span> 
							<span><strong>나의 패들번호: <span ng-bind="custInfo.PADD_NO" style="font-weight:900; color:#0026f9;">600</span></strong></span>  
						</div>      
						<div class="bidlive_currency"><span ng-if="locale=='ko'">통화:</span><span ng-if="locale!='ko'">Currency:</span>&nbsp;KRW</div>  
					</div> 
					 
					<!-- tabs -->  
					<div class="bidlive_tab m_only clearfix">       
						<div class="tab m_tab">           
							<button class="tablinks m_tablinks" onclick="Downtab(event, 'A1')" id="TabOpen">Lot</button>   
							<button class="tablinks m_tablinks" onclick="Downtab(event, 'B1')"><span ng-if="locale=='ko'">응찰기록</span></button>
							<button class="tablinks m_tablinks" onclick="Downtab(event, 'C1')"><span ng-if="locale=='ko'">관심작품</span></button>   
						</div>    
					</div>        
					      
					<div id="A1" class="bid_livebox_table tabtab clearfix"> 
						<!-- scroll START (2018.04.18 YDH) -->   
						<div class="fixed-table-container A1_table">    
							<div class="fixed-table-header"></div> 
							<div class="fixed-table-wrap">     
								<table id="tbl_employee" class="fixed-table"> 
									<colgroup> 
										<col width="50%"/>  
										<col width="50%"/>  
									</colgroup>
									<thead>
										<tr> 
											<th scope="col">
												<div class="th-text client_th-text" style="width: 50%;"><span>Paddle No</span>
												</div>  
											</th>
											<th scope="col">
												<div class="th-text client_th-text" style="width: 50%;">  
													<span ng-if="locale == 'ko'">응찰금액</span>
												</div>
											</th> 
										</tr>
									</thead>
									<tbody id="tblOffBidListBody">     
										<tr class="Rorr"><td colspan="2"><span ng-if="locale == 'ko'">곧 응찰이 시작됩니다.</span></td></tr>
										<tr>
											<td colspan="2" style="color:red; text-align:center; background: #f4f4f4; "><span ng-if="locale == 'ko'">곧 응찰이 마감 됩니다.</span></td>
										</tr> 
										<tr>
											<td> 
												<span><font color="blue" style="font-weight:bolder">현장응찰</font></span>
											</td>     
											<td>
												<span><font color="red" style="font-weight:bolder">23,000,000</font></span>
											</td><!-- background: #f4f4f4;  -->
										</tr>
										<tr>
											<td> 
												<span>온라인 응찰</span>
											</td>     
											<td>
												<span>22,000,000</span>
											</td><!-- background: #f4f4f4;  -->
										</tr>
										<tr>
											<td> 
												<span>현장 응찰</span>
											</td>     
											<td>
												<span>21,000,000</span>
											</td><!-- background: #f4f4f4;  -->
										</tr> 
										
									</tbody>
								</table>
							</div> 
						</div>  
					</div> <!--//bid_livebox_table-->  
							       
					<!-- //응찰기록 -->   
					<div id="B1" class="bid_livebox_table tabtab client_m_only">  
						<!-- scroll START (2018.04.18 YDH) -->     
						<div class="fixed-table-container B1_table">    
							<div class="fixed-table-header"></div>  
	       						<div class="fixed-table-wrap B1_history_tablebox"> 
								<table id="tbl_employee" class="fixed-table">   
									<caption style="text-indent: -9999px;" ng-if="locale=='ko'">응찰기록</caption> <caption style="text-indent: -9999px;" ng-if="locale=='en'">bid history</caption> 
									<colgrop> 
										<col width="15%" />  
										<col width="35%" />        
										<col width="35%" />      
										<col width="15%" />        
									</colgrop>    
									<thead> 
										<tr> 
											<th scope="col">
												<div class="th-text th_history_txt" style="width:15%;">   
													Lot		
					                            </div> 
											</th> 
											<th scope="col"> 
												<div class="th-text th_history_txt" style="width:35%;"> 
													현재가	
					                            </div>
											</th> 
											<th scope="col">
												<div class="th-text th_history_txt" style="width:35%;">
													낙찰가
					                            </div>
											</th>
											<th scope="col">
												<div class="th-text th_history_txt" style="width:15%;"> 
													현황	
					                            </div>
											</th>  
										</tr>   
									</thead>
									<tbody id="tblOffBidListBody" style="text-align:center;"> 
										<tr>
											<td ng-bind="myBidHistory.LOT_NO">1</td> 
											<td ng-bind="myBidHistory.LAST_BID_PRICE | number : 0">80,000,000</td>  
											<td ng-bind="myBidHistory.HAMMER_BID_PRICE | number : 0">90,000,000</td>
											<td ng-if="myBidHistory.LOT_NO == lot.LOT_NO"></td> <!-- 진행중 -->
											<td >낙찰</td> 
										</tr>
										<tr>
											<td ng-bind="myBidHistory.LOT_NO">1</td> 
											<td ng-bind="myBidHistory.LAST_BID_PRICE | number : 0">80,000,000</td>  
											<td ng-bind="myBidHistory.HAMMER_BID_PRICE | number : 0">90,000,000</td>
											<td ng-if="myBidHistory.HAMMER_STAT == 'hammer'">낙찰</td> 
										</tr>
										<tr>
											<td ng-bind="myBidHistory.LOT_NO">1</td> 
											<td ng-bind="myBidHistory.LAST_BID_PRICE | number : 0">80,000,000</td>  
											<td ng-bind="myBidHistory.HAMMER_BID_PRICE | number : 0">90,000,000</td>
											<td ng-if="myBidHistory.HAMMER_STAT == 'hammer'">낙찰</td> 
										</tr>
										<tr>
											<td colspan="4">응찰내역이 없습니다.</td> <!-- 진행중 -->
										</tr>
									</tbody>  
								</table> 
							</div> 
						</div>  
					</div> <!--//응찰기록-->	
					<!-- 관심작품 -->
					<div id="C1" class="bid_livebox_table tabtab clearfix">    
						<div class="m_bidlive_wishListwarp m_only">            
							<div style="display:flex; justify-content: center; align-items: center; height: 60px;">
								<p style="color: #999;">리스트에 담긴 작품이 없습니다.</p>
							</div>
							<div class="m_wishList_box">     
								<div class="img_navigation">      
									<img oncontextmenu="return false" src="./images/img/img_history09.jpg" alt="이미지 썸네일" />
								</div> 
								<div class="bidnav_lotinfo wishilist_info">
									<span class="lotNo" ng-bind="lot.LOT_NO" title="{{lot.LOT_NO}}">1</span>  
									<span class="wish_btn bidlive_wishbtn"></span>
									<span ng-if="lot.STAT_CD != 'reentry'">
										<p class="textshort artistName" ng-bind="lot.ARTIST_NAME_JSON[locale]" title="{{lot.ARTIST_NAME_JSON[locale]}}" style="margin-top: 5px;">이우환</p>     
										<p class="textshort titleName" ng-bind="lot.TITLE_JSON[locale]" title="{{lot.TITLE_JSON[locale]}}">무제</p>     
										<p class="textshort priceInfo" ng-if="lot.EXPE_PRICE_INQ_YN != 'Y' && (lot.EXPE_PRICE_TO_JSON[base_currency]) != 0 && (lot.EXPE_PRICE_FROM_JSON[base_currency]) != 0 && (lot.EXPE_PRICE_TO_JSON[base_currency]) != null && (lot.EXPE_PRICE_FROM_JSON[base_currency]) != null" title="{{lot.EXPE_PRICE_FROM_JSON[base_currency] | currency : base_currency + ' ' : 0}} ~ {{lot.EXPE_PRICE_TO_JSON[base_currency] | number : 0}}">
											<span ng-bind="lot.EXPE_PRICE_FROM_JSON[base_currency] | currency : base_currency + ' ' : 0">10,000,000</span>  
											<span ng-if="(lot.EXPE_PRICE_FROM_JSON[base_currency] != null) || (lot.EXPE_PRICE_TO_JSON[base_currency] != null)"> ~ </span>	
											<span ng-bind="lot.EXPE_PRICE_TO_JSON[base_currency] | number : 0">50,000,000</span> 
										</p>  
									</span>   
									<div style="text-align:right;">         
										<a style="color: #999; font-size:12px; font-weight: bold; text-decoration: underline;" ng-href="{{'/lotDetail?sale_no=' + sale.SALE_NO + '&lot_no=' + lot.LOT_NO}}" target="_blank">
											상세보기       
										</a>         
									</div> 
								</div>     
							</div><!-- //m_wishList_box -->  
							<div class="m_wishList_box">     
								<div class="img_navigation">      
									<img oncontextmenu="return false" src="./images/img/img_history09.jpg" alt="이미지 썸네일" />
								</div> 
								<div class="bidnav_lotinfo wishilist_info">
									<span class="lotNo" ng-bind="lot.LOT_NO" title="{{lot.LOT_NO}}">1</span>  
									<span class="wish_btn bidlive_wishbtn"></span>
									<span ng-if="lot.STAT_CD != 'reentry'">
										<p class="textshort artistName" ng-bind="lot.ARTIST_NAME_JSON[locale]" title="{{lot.ARTIST_NAME_JSON[locale]}}" style="margin-top: 5px;">이우환</p>     
										<p class="textshort titleName" ng-bind="lot.TITLE_JSON[locale]" title="{{lot.TITLE_JSON[locale]}}">무제</p>     
										<p class="textshort priceInfo" ng-if="lot.EXPE_PRICE_INQ_YN != 'Y' && (lot.EXPE_PRICE_TO_JSON[base_currency]) != 0 && (lot.EXPE_PRICE_FROM_JSON[base_currency]) != 0 && (lot.EXPE_PRICE_TO_JSON[base_currency]) != null && (lot.EXPE_PRICE_FROM_JSON[base_currency]) != null" title="{{lot.EXPE_PRICE_FROM_JSON[base_currency] | currency : base_currency + ' ' : 0}} ~ {{lot.EXPE_PRICE_TO_JSON[base_currency] | number : 0}}">
											<span ng-bind="lot.EXPE_PRICE_FROM_JSON[base_currency] | currency : base_currency + ' ' : 0">10,000,000</span>  
											<span ng-if="(lot.EXPE_PRICE_FROM_JSON[base_currency] != null) || (lot.EXPE_PRICE_TO_JSON[base_currency] != null)"> ~ </span>	
											<span ng-bind="lot.EXPE_PRICE_TO_JSON[base_currency] | number : 0">50,000,000</span> 
										</p>  
									</span>   
									<div style="text-align:right;">         
										<a style="color: #999; font-size:12px; font-weight: bold; text-decoration: underline;" ng-href="{{'/lotDetail?sale_no=' + sale.SALE_NO + '&lot_no=' + lot.LOT_NO}}" target="_blank">
											상세보기       
										</a>         
									</div> 
								</div>     
							</div><!-- //m_wishList_box -->  
							<div class="m_wishList_box">     
								<div class="img_navigation">      
									<img oncontextmenu="return false" src="./images/img/img_history09.jpg" alt="이미지 썸네일" />
								</div> 
								<div class="bidnav_lotinfo wishilist_info">
									<span class="lotNo" ng-bind="lot.LOT_NO" title="{{lot.LOT_NO}}">1</span>  
									<span class="wish_btn bidlive_wishbtn"></span>
									<span ng-if="lot.STAT_CD != 'reentry'">
										<p class="textshort artistName" ng-bind="lot.ARTIST_NAME_JSON[locale]" title="{{lot.ARTIST_NAME_JSON[locale]}}" style="margin-top: 5px;">이우환</p>     
										<p class="textshort titleName" ng-bind="lot.TITLE_JSON[locale]" title="{{lot.TITLE_JSON[locale]}}">무제</p>     
										<p class="textshort priceInfo" ng-if="lot.EXPE_PRICE_INQ_YN != 'Y' && (lot.EXPE_PRICE_TO_JSON[base_currency]) != 0 && (lot.EXPE_PRICE_FROM_JSON[base_currency]) != 0 && (lot.EXPE_PRICE_TO_JSON[base_currency]) != null && (lot.EXPE_PRICE_FROM_JSON[base_currency]) != null" title="{{lot.EXPE_PRICE_FROM_JSON[base_currency] | currency : base_currency + ' ' : 0}} ~ {{lot.EXPE_PRICE_TO_JSON[base_currency] | number : 0}}">
											<span ng-bind="lot.EXPE_PRICE_FROM_JSON[base_currency] | currency : base_currency + ' ' : 0">10,000,000</span>  
											<span ng-if="(lot.EXPE_PRICE_FROM_JSON[base_currency] != null) || (lot.EXPE_PRICE_TO_JSON[base_currency] != null)"> ~ </span>	
											<span ng-bind="lot.EXPE_PRICE_TO_JSON[base_currency] | number : 0">50,000,000</span> 
										</p>  
									</span>   
									<div style="text-align:right;">         
										<a style="color: #999; font-size:12px; font-weight: bold; text-decoration: underline;" ng-href="{{'/lotDetail?sale_no=' + sale.SALE_NO + '&lot_no=' + lot.LOT_NO}}" target="_blank">
											상세보기       
										</a>         
									</div> 
								</div>     
							</div><!-- //m_wishList_box -->  
						</div><!-- //bidlive_wishListwarp -->    
					</div> 					
				</div><!-- //bidlive_boxRight -->
				
				<div class="btn_wrap" style="margin-bottom: 10px; clear:both;">      
					<span class="btn_style01 gray mid btn_pop_close" id="cancelBtn">
						<button type="button"><spring:message code="label.close" />닫기</button>
					</span>   
				</div>   
			</div> <!-- //bidlive_resizeFull -->     
		</div><!-- // 1200 -->      
		<!--footer-->     
		<div style="background-color:#f1f1f1; padding:20px 10px;">    	 
			<div align="center"> 
				<!-- 담당자 문의 번호 -->       
				<div class="livebid_quirytelbox">                 
					<span>     
						<a href="tel:010-3404-9454"><span class="manager_tit">응찰문의</span> T. 010-3404-9454 (고객관리자)</a> 
					</span>       
					<span>                   
						<a href="tel:02-2075-4415"><span class="manager_tit">웹서비스문의</span> T. 02-2075-4415</a> 
					</span>            
				</div>   
				<p style="color: #000; font-size:11px; line-height:18px;">      
					* LOT정보와 Current Bidding은 네트워크 속도에 따라 지연될 수 있습니다. 
				</p> 
			</div> 
		</div><!--footer-->
	</div> <!-- pop_wrap -->  
</body>
<script>
	$(function(){ /* notice 슬라이드 배너 */   
		setInterval(function(){
			if(matchMedia("screen and (min-width:769px)").matches) {                  
				$(".bidlivenotice_txtbox>ul").delay(3500);     
				$(".bidlivenotice_txtbox>ul").animate({marginTop:"-30px"}); 
				$(".bidlivenotice_txtbox>ul").delay(3500); 
				$(".bidlivenotice_txtbox>ul").animate({marginTop:"-60px"});
				$(".bidlivenotice_txtbox>ul").delay(3500);
				$(".bidlivenotice_txtbox>ul").animate({marginTop:"-90px"});
				$(".bidlivenotice_txtbox>ul").delay(4000);
				$(".bidlivenotice_txtbox>ul").animate({marginTop:"-120px"});
				$(".bidlivenotice_txtbox>ul").delay(3500);  
				$(".bidlivenotice_txtbox>ul").animate({marginTop:"0"});  
			} else {     
				$(".bidlivenotice_txtbox>ul").delay(3500);    
				$(".bidlivenotice_txtbox>ul").animate({marginTop:"-45px"});              
				$(".bidlivenotice_txtbox>ul").delay(3500); 
				$(".bidlivenotice_txtbox>ul").animate({marginTop:"-86px"});             
				$(".bidlivenotice_txtbox>ul").delay(3500);
				$(".bidlivenotice_txtbox>ul").animate({marginTop:"-125px"});                      
				$(".bidlivenotice_txtbox>ul").delay(3500); 
				$(".bidlivenotice_txtbox>ul").animate({marginTop:"-165px"});                          
				$(".bidlivenotice_txtbox>ul").delay(3500);  
				$(".bidlivenotice_txtbox>ul").animate({marginTop:"0px"});       
			};		
		});         
	});  
	
	// 유틸리티 환율 메뉴 
	$(".utility_curren > a, .m_utility_curren > a").click(function(){    
		$(".sub_uti_curren, .m_sub_uti_curren").stop().slideToggle("fast"); 
		$(".white_down").toggleClass("on");     
	});   	   
	
	$(".sub_uti_curren > li > a, .m_sub_uti_curren > li > a").click(function(){            
		$(".sub_uti_curren, .m_sub_uti_curren").stop().slideToggle("fast"); 
		$(".white_down").toggleClass("on");   
	});   
	
	//이미지 네비게이션 탭   
	$(".bidnav_tapname ul li").click(function(){
		var tab_navi = $(this).attr('data-tab'); 
		
		$('.bidnav_tapname ul li').removeClass("bidnav_tapOn");
		$('.naviImgbox').removeClass("on");     
		
		$(this).addClass("bidnav_tapOn");     
		$("#"+tab_navi).addClass('on');             
	}); 
	
	/* 웹 버전 중앙 하단 탭 메뉴 */   
	function Centertab(evt, Centertab_name) { 
		var i, tabcontent, tablinks; 
		tabcontent = document.getElementsByClassName("tabcontent");      
		for (i = 0; i < tabcontent.length; i++) {  
			tabcontent[i].style.display = "none";   
		}
		tablinks = document.getElementsByClassName("tablinks"); 
		for (i = 0; i < tablinks.length; i++) {
			tablinks[i].className = tablinks[i].className.replace(" active",""); 
		} 
		document.getElementById(Centertab_name).style.display = "block";
		evt.currentTarget.className += " active";   
	}   
	
	document.getElementById("defaultOpen").click();  
	
	/* mobile 하단 탭 메뉴 */   
	function Downtab(evt, Downtab_name){ 
		var t, tabtxt, m_tablinks;
		tabtxt = document.getElementsByClassName("tabtab"); 
		for (t = 0; t < tabtxt.length; t++) {
			tabtxt[t].style.display = "none";
		}
		m_tablinks = document.getElementsByClassName("m_tablinks"); 
		for (t = 0; t < m_tablinks.length; t++) {
			m_tablinks[t].className = m_tablinks[t].className.replace(" active",""); 
		}
		document.getElementById(Downtab_name).style.display = "block";
		evt.currentTarget.className += " active"; 
	}   
	document.getElementById("TabOpen").click();
	 
	 
	/* LIVE 깜빡이는 효과 */  
	var element = $(".bidlive_LIVEicon"); 
	var delelement = $(".bidlive_LIVEicon_del");     
	
	var shown = true;    
	
	setInterval(toggle, 1000);      
	
	function toggle() {
		if(shown){
			element.hide();   
			shown = false;
			
			delelement.show();  
		}else{
			element.show();   
			shown = true;  
			
			delelement.hide();  
		}; 
	};   
</script>   

<script src="./js/simple.js?ver=1.0.0"></script>
</html>