<div class="web_main_menu_wrap">  
   <div id="header">
        
       <h1><a href="/" ><span class="hidden">Seoul Auction EST.1998</span></a></h1>
       <div class="gnb_menu">
           <ul class="fl_menu">  
               <li><a href="#" class="sp_txt menu01"><span class="hidden">Auction</span></a></li>
               <li><a href="#" class="sp_txt menu02"><span class="hidden">Online</span></a></li>
               <li><a href="#" class="sp_txt menu03"><span class="hidden">Private Sale</span></a></li>  
               <li><a href="#" class="sp_txt menu04"><span class="hidden">Service</span></a></li>
               <li><a href="#" class="sp_txt menu05"><span class="hidden">About</span></a></li>
           </ul>
       </div>
       <div class="gnb_menu_layer">
           <button class="sp_btn btn_gnbmenu_close web_menu_close"><span class="hidden">메뉴레이어 닫기</span></button>
           <div class="m_util_menu m_only">
               <ul class="fl_menu">
                   <li><a href="/?lang=ko">Kor</a></li>
                    <li id="accountBtn"><a href="/customer/myPage" style="color:#fff;">ACCOUNT</a></li>
                    <li><a href="javascript:document.getElementById('logoutForm').submit();" style="color:#fff;">LOGOUT</a></li>
               </ul> 
           </div>   
           <div class="left web_menu_left">   
               <div class="m_scrollable">
                   <div id="gnbMenuConatiner"> 
                       <div class="gnb_menu gnb_menu02"> 
                           <ul id="gnbMenuList web_gnbMenuList">
                               <li>
                                   <span class="sp_txt menu01"><span class="hidden">Auction</span></span>  
                                   <ul>   
                                       <li>     
                                       <span ng-if="offlineIng > 0"><a href="/currentAuction?sale_kind=offline_only&page=1&lang={{locale}}"><!--<a href="#">-->
                                           <spring:message code="label.auction.offlinecurrent" /> 메이저 경매
                                           </a></span>   
                                       </li>
                                       <li>
                                       <span ng-if="offlineUpcomingIng > 0"><a href="/upcomingAuction?sale_kind=offline_only&lang={{locale}}">예정경매<spring:message code="label.auction.upcoming" /></a></span>
                                       <span id="offlineUpcomBtn"><spring:message code="label.auction.upcoming" /></span>
                                       </li>  
                                       <li><a href="/resultAuction?sale_kind=offline_only&page=1&lang={{locale}}">경매결과</a></li>
                                       <li><a href="/auctionGuide/page?view=biddingGuide&lang={{locale}}">경매위탁</a></li>  
                                   </ul>  
                               </li>   
                               <li>
                                   <span class="sp_txt menu02"><span class="hidden">Online</span></span>
                                   <ul>  
                                       <li> 
                                           <span ng-if="onlineIng > 0"><a href="/currentAuction?sale_kind=online_only&page=1&lang={{locale}}">진행경매<spring:message code="label.auction.current" /></a></span>
                                           <span ng-if="onlineIng == 0 || onlineIng == null" id="onlineCurrBtn"><spring:message code="label.auction.current" /></span> 
                                       </li>      
                                       <li>
                                           <span ng-if="onlineUpcomingIng > 0"><a href="/upcomingAuction?sale_kind=online_only&lang={{locale}}">예정경매<spring:message code="label.auction.upcoming" /></a></span> 
                                        </li>
                                       <!-- <li>
                                           <a href="https://www.blacklot.com/" ng-if="locale=='ko'" target="_blank">블랙랏<img src="./images/icon/now_icon.png"/></a>  
                                       </li>  -->
                                       <!-- <li>      
                                           <span ng-if="outsideIng > 0"><a href="/currentAuction?sale_outside_yn=Y&lang={{locale}}">
                                               <span ng-if="locale=='ko'">블랙랏 제로베이스</span></a>
                                           </span>
                                       </li> -->
                                       <li><a href="/auctionGuide/page?view=onlinebidGuide&lang={{locale}}">위탁안내<spring:message code="label.howto.onbid" /></a></li><li>
                                           <span ng-if="zerobaseIng > 0"><a href="/currentAuction?sale_kind=zerobase_only&page=1&lang={{locale}}"><span ng-if="locale=='ko'">제로베이스 경매</span></a></span>
                                       </li>
                                       <li>
                                           <a href="https://www.seoulauction.com/zerobaseArtist?page=1&lang={{locale}}"><span ng-if="locale=='ko'">제로베이스 작가</span></a></span>
                                       </li>
                                   </ul> 
                               </li>   
                               <li>  
                                   <span class="sp_txt menu03"><span class="hidden">Private Sale</span></span>   
                                   <ul>
                                       <li><a href="./lotListPrivate.html">프라이빗 세일<spring:message code="label.ps.privatesale" /><img src="./images/icon/now_icon.png" /></a></li>
                                       <li><a href="./priGuide.html">PS가이드<spring:message code="label.ps.privateguide" /><img src="./images/icon/now_icon.png" /></li></a> 
                                   </ul> 
                               </li> 
                               <li>
                                   <span class="sp_txt menu04"><span class="hidden">Service</span></span>   
                                   <ul>
                                       <li>
                                           <a href="/service/page?view=academy&lang={{locale}}">아카데미<spring:message code="label.academy" /></a>
                                       </li>  
                                       <li><a href="./corporationArtwork.html">아트컨설팅 & 기업마케팅<spring:message code="label.company.artwork" /><img src="./images/icon/now_icon.png" /></a></li>
                                       <li><a href="/service/page?view=rentExhibitionCenter&lang={{locale}}">전시장대관<spring:message code="label.space.rental" /></a></li>
                                       <li><a href="/service/page?view=securedLoan&lang={{locale}}">담보대출<spring:message code="label.collateral.loan" /></a></li>
	                                        <li><a href="/service/page?view=chinaArtwork&lang={{locale}}">중국미술품<spring:message code="label.china.artwork.auth" /></a></li>
                                       <li><a href="/service/page?view=storageInsa&lang={{locale}}">보관고<spring:message code="label.artwork.keep" /></a></li>
                                       <li ng-if="locale==='ko'"><a href="./Newsletter.html">뉴스레터<spring:message code="label.newsletter" /><img src="./images/icon/now_icon.png" /></a></li> 
                                   </ul>  
                               </li>    
                               <li> 
                                   <span class="sp_txt menu05"><span class="hidden">About</span></span>
                                   <ul>
                                       <li><a href="/about/page?view=introduction&lang={{locale}}">회사소개<spring:message code="label.seoulauction.introduction" /></a></li>
                                       <li><a href="/about/page?view=introGang&lang={{locale}}">서울옥션강남센터<spring:message code="label.seoulauction.introgang" /></a></li>
                                       <li><a href="/about/page?view=history&lang={{locale}}">연혁<spring:message code="label.seoulauction.history" /></a></li>
                                       <li><a href="/about/page?view=pressList&lang={{locale}}">언론보도<spring:message code="label.press" /></a></li>
                                       <li><a href="/noticeList?lang={{locale}}">공지사항<spring:message code="label.notice" /></a></li> 
                                       <li ng-if="locale == 'ko'">   
                                           <span ng-if="recruitMent > 0"><a href="./recruitList.html">채용공고<spring:message code="label.recruit" /><img src="./images/icon/now_icon.png" /></a></span> 
                                       </li>   
                                       <li><a href="/about/page?view=location&lang={{locale}}">위치안내<spring:message code="label.seoulauction.location" /></a></li>
                                       <li><a href="/about/page?view=faq&lang={{locale}}">FAQ<spring:message code="label.faq" /></a></li> 
                                   </ul> 
                               </li> 
                           </ul>
                       </div>   
                   </div>      
               </div> 
               <div class="link_menu01">
                   <ul class="fl_menu">
                       <li><a href="/auctionGuide/page?view=commissionGuide&lang={{locale}}" class="menu02"><spring:message code="label.inquiry.contract" /></a></li>
                       <li>
                       <a href="/search?lang={{locale}}" class="menu03"><spring:message code="label.artwork.search" /></a>
                   </li>
                   </ul>  
               </div>  
                
               <div class="link_menu03">   
                   <ul>
                    <li style="padding-top:10px;"><a href="/about/page?view=gnExhibition&lang={{locale}}" ><spring:message code="label.seoulauction.introgang0" /></a></li>
                       <li style="padding-top:10px;" ng-if="locale=='ko'"><a href="/about/page?view=gnExhibition&lang={{locale}}">강남센터 Exhibition</a></li>
                       <li style="padding-top:10px;" ng-if="locale!='ko'"><a href="/about/page?view=gnExhibition&lang={{locale}}">Gangnam Center Exhibition</a></li>
                       <!-- 강남전시 1,2 -->
	                        <li style="padding-top:10px;"><a href="/about/page?view=gnExhibition" ><spring:message code="label.seoulauction.introgang1" /></a></li>
	                        <li style="padding-top:10px;"><a href="/about/page?view=gnExhibition02" ><spring:message code="label.seoulauction.introgang2" /></a></li> 
                       
	                        <li><a target="_blank" href="http://www.auctionblue.com" ><spring:message code="label.AuctionBlueonline" /></a></li>   
							<li><a target="_blank" href="http://www.printbakery.co.kr" ><spring:message code="label.printbakery" /></a></li>       
                   </ul>
                   <!-- 홍콩 리미티드 hidden 처리 
                   <ul>
                       <li><a href="/about/page?view=saplus" ><img src="./images/img/saplus.jpg" alt="saplus" style="width:37px;"/>-><spring:message code="label.seoulauction.introhk" /></a></li>
                   </ul> -->
               </div>    
           </div>
           <div class="m_only m_util_mask"></div><!-- 20150302 수정 -->
       </div>
       <div class="util_menu">
               <!-- <form action="/processLogout" method="post" id="logoutForm">
                 <input type="hidden"/>
               </form>   -->
           <ul class="fl_menu util_fl_menu"><!-- //${pageContext.request.queryString}||${param.lang}// --> 
                <li><a href="${queryString}lang=ko" style="color:#F30;">KOR</a></li>	
                <li><a href="/customer/myPage" style="color:#000;">ACCOUNT</a></li>
                <li><a href="javascript:document.getElementById('logoutForm').submit();" style="color:#000;">LOGOUT</a></li>
           </ul>
           <div class="top_search main_top_search">     
               <form action="">   
                   <fieldset> 
                       <legend><spring:message code="label.search" /></legend>              
                       <input type="text" name="" placeholder="검색어를 입력하세요." id="headerSearchContent" class="input_search" title="검색어를 입력하세요.">
                       <button type="button" class="sp_btn btn_search" onclick="goSearch('headerSearchContent', true);">      
                           <span class="hidden"><spring:message code="label.search" /></span>    
                       </button> 
                       <button type="button" class="sp_btn m_btn_search"><span class="hidden">검색<spring:message code="label.search" /></span></button><!-- 20150623 -->
                   </fieldset>
               </form>
           </div>
       </div>
   </div><!-- //header -->
</div> <!-- //web_header_wrap -->

<!-- mobile-ver (em) -->
<div class="mobile-ver clearfix">  
   <div class="menu_toggle"> 
       <div class="toggle_menu">   
           <div class="top_search">   
               <form id="frmTopSearch" action="/search" style="position: relative;">  
                   <fieldset> 
                       <legend><spring:message code="label.search" /></legend>
                       <input type="text" name="" id="headerSearchContent" class="input_search" style="color:#000;" placeholder="검색어를 입력하세요."/>
                       <button type="button" class="sp_btn btn_search" onclick="goSearch('headerSearchContent', true);"> 
                           <span class="hidden">검색입력란<spring:message code="label.search" /></span>
                       </button>  
                       <button type="button" class="sp_btn m_btn_search"><span class="hidden">검색버튼<spring:message code="label.search" /></span></button><!-- 20150623 -->
                   </fieldset>  
               </form>   
           </div>  
           <h1 class="logo mo_logo">  
               <a href="/" ><span class="hidden">Seoul Auction EST.1998</span></a>
           </h1>   
           <div class="hamber_toggle" onclick="openNav()">
               <span class="hamber_bar"></span>  	
               <span class="hamber_bar"></span> 	
               <span class="hamber_bar"></span>  	
           </div> 
       </div>   
   </div>  
   
   <div class="overlay_back" onclick="closeNav()"></div>     
   <div id="mySidenav" class="left_menu">
       <div class="mo_util"> 
           <h1 class="logo acodian_logo">     
               <a href="/"><span class="hidden">Seoul Auction EST.1998</span></a> 
           </h1>  
           <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
           
           <div class="toggle_utility clearfix">    
               <ul>
                    <li>  
                        <a href="/?lang=ko" style="color:#f30;">KOR</a>  
                    </li>  
                    <li><a href="/customer/myPage">ACCOUNT</a></li>
                    <li>
                        <a href="javascript:document.getElementById('logoutForm').submit();">LOGOUT</a> 
                    </li>
               </ul>  
           </div> <!-- //toggle_utility --> 
       </div><!-- //mo_util --> 
       
       <!-- 모바일 right 메뉴-->   
         <nav class="my-menu"> 
                 <ul class="my-nav"> 
                 <li><a href="#">AUCTION</a>            
                   <ul>  
                       <li>      
                           <span ng-if="offlineIng > 0"><a href="/currentAuction?sale_kind=offline_only&lang={{locale}}"><!--<a href="#">-->
                           메이저 경매<spring:message code="label.auction.offlinecurrent" />  
                           </a></span> 
                           <!--<span id="offlineCurrBtn"><spring:message code="label.auction.current" /></span> -->      
                       </li>              
                       <li>
                           <span ng-if="offlineUpcomingIng == 0 || offlineUpcomingIng == null" id="M_Only_OnlineUpcomEnd">예정경매<spring:message code="label.auction.upcoming" /></span>  
                           <!-- <span id="M_Only_OfflineUpcomEnd"><spring:message code="label.auction.upcoming" /></span> -->  
                       </li>   
                       <li>
                           <a href="/resultAuction?sale_kind=offline_only&lang={{locale}}">경매결과<spring:message code="label.auction.result" /></a> 
                           <ul class="sub_menu_tit" style="border-bottom: 1px solid #333;">          
                               <li> 
                                   <a href="/resultAuction?result=Y&page=1&lang={{locale}}">All</a> 
                               </li>
                               <li> 
                                   <a href="/resultAuction?sale_kind=main&page=1&lang={{locale}}">Seoul</a> 
                               </li>
                               <li> 
                                   <a href="/resultAuction?sale_kind=hongkong&page=1&lang={{locale}}">Hong Kong</a> 
                               </li>
                               <li> 
                                   <a href="/resultAuction?sale_kind=online&page=1&lang={{locale}}">Online Only</a>  
                               </li>
                               <li> 
                                   <a href="/resultAuction?sale_kind=zerobase_only&page=1&lang={{locale}}">Zero Base</a>  
                               </li>
                               <li> 
                                   <a href="/resultAuction?sale_kind=other&page=1&lang={{locale}}">Others</a>    
                               </li>  
                           </ul>
                       </li>
                       <li><a href="/auctionGuide/page?view=biddingGuide&lang={{locale}}">경매안내<spring:message code="label.howto.bid" /></a></li>
                       <li><a href="/auctionGuide/page?view=commissionGuide&lang={{locale}}">위탁안내<spring:message code="label.howto.contract" /></a></li>  
                          <!-- <li><a href="/auctionGuide/page?view=winningBidGuide"><spring:message code="label.howto.buy" /></a></li>
                       <li><a href="/auctionGuide/page?view=deliveryGuide"><spring:message code="label.howto.delivery" /></a></li> 
                       <li><a href="/otherSales"><spring:message code="label.sale.exhibit" /></a></li>-->
                   </ul>
                 </li>
                 <li><a href="#">ONLINE</a> 
                   <ul>  
                         <li>  
                           <span ng-if="onlineIng > 0"><a href="/currentAuction?sale_kind=online_only&lang={{locale}}">진행경매<spring:message code="label.auction.current" /></a></span> 
                       </li>         
                       <li>
                           <span ng-if="onlineUpcomingIng == 0 || onlineUpcomingIng == null" id="M_Only_OnlineUpcomEnd">예정경매<spring:message code="label.auction.upcoming" /></span>  
                           <!--<span id="M_Only_OnlineUpcomEnd"><spring:message code="label.auction.upcoming" /></span>-->    
                       </li>    
                       <li><a href="/auctionGuide/page?view=onlinebidGuide&lang={{locale}}">온라인경매안내<spring:message code="label.howto.onbid" /></a></li>
                       <li class="zero_bar" style="cursor: none;"></li>
                       <li> 
                           <span ng-if="zerobaseIng > 0"><a href="/currentAuction?sale_kind=zerobase_only&lang={{locale}}"><span ng-if="locale=='ko'">제로베이스 경매</span></a></span> 
                       </li> 
                       <li> 
                           <a href="https://www.seoulauction.com/zerobaseArtist?lang={{locale}}"><span ng-if="locale=='ko'">제로베이스 작가</span></a>  
                       </li>
                   </ul>
                 </li> 
                 <li><a href="#">PRIVATE SALE</a>
                   <ul>     
                       <li><a href="/currentPrivate?lang={{locale}}"><spring:message code="label.ps.privatesale" />프라이빗 세일<img src="./images/icon/now_icon.png" style="vertical-align: text-bottom; margin-left: 2px;"/><img src="./images/icon/now_icon.png" /></a></li>  
                       <li><a href="/ps/page?view=priGuide&lang={{locale}}">PS 가이드<spring:message code="label.ps.privateguide" /><img src="./images/icon/now_icon.png" /></a></li>
                   </ul>
                 </li>   
                 <li><a href="#">SERVICE</a>     
                   <ul> 
                       <!-- <li><a href="/search"><spring:message code="label.artwork.search" /></a></li>
                       <li><a href="/service/page?view=displayPlan"><spring:message code="label.exhibition.curation" /></a></li>-->
                       <li><a href="/service/page?view=academy&lang={{locale}}">아카데미<spring:message code="label.academy" /><span ng-if="academyIng > 0"></span></a> 
                           <ul class="sub_menu_tit" style="border-bottom:1px solid #333;">           
                               <li>       
                                   <a href="/service/page?view=academyArtculture&lang={{locale}}">아트컬쳐<spring:message code="label.academy.artculture" /></a> 
                               </li>
                               <li>      
                                   <a href="/service/page?view=academyArtisttalk&lang={{locale}}">강연<spring:message code="label.academy.artisttalk" /></a> 
                               </li>
                               <li>      
                                   <a href="/service/page?view=academyArtbrunch&lang={{locale}}"><spring:message code="label.academy.artbrunch" /></a> 
                               </li>
                               <li>       
                                   <a href="/service/page?view=academyArtauction&lang={{locale}}"><spring:message code="label.academy.artauction" /></a> 
                               </li>
                               <li>      
                                   <a href="/service/page?view=academyCulture&lang={{locale}}">문화<spring:message code="label.academy.culture" /></a> 
                               </li>
                               <li>       
                                   <a href="/service/page?view=academyLecture&lang={{locale}}">건축<spring:message code="label.academy.lecture" /></a>   
                               </li> 
                           </ul>
                       </li>  
                       <li><a href="./corporationArtwork.html">아트컨설팅 & 기업마케팅<spring:message code="label.company.artwork" /></a><img src="./images/icon/now_icon.png" />
                           <ul class="sub_menu_tit" style="border-bottom:1px solid #333;">            
                               <li>     
                                   <a href="./corporationArtwork-artconsulting.html">문화예술을 활용한 VIP 고객 마케팅<spring:message code="label.company.artwork-marketing" /></a>
                               </li>   
                               <li> 
                                   <a href="./corporationArtwork-specialauction.html">
                                    기획 경매<spring:message code="label.company.artwork-specialauction" /></a>
                               </li>
                               <li> 
                                   <a href="./corporationArtwork-artservice.html">미술품 컬렉션<spring:message code="label.company.artwork-artservice" /></a> 
                               </li>
                               <li>  
                                   <a href="./corporationArtwork-artconsulting.html">
                                    아트 컨설팅<spring:message code="label.company.artwork-artconsulting" /></a>   
                               </li> 
                           </ul> 
                       </li>
                       <li><a href="/service/page?view=rentExhibitionCenter&lang={{locale}}">전시장대관<spring:message code="label.space.rental" /></a></li>
                       <li><a href="/service/page?view=securedLoan&lang={{locale}}">담보대출<spring:message code="label.collateral.loan" /></a></li>
		                    <li><a href="/service/page?view=chinaArtwork&lang={{locale}}">중국미술품<spring:message code="label.china.artwork.auth" /></a></li>
                       <li>
                           <a href="/service/page?view=storageInsa&lang={{locale}}">보관고<spring:message code="label.artwork.keep" /></a>
                           <ul class="sub_menu_tit" style="border-bottom: 1px solid #333;">          
                               <li> 
                                   <a href="/service/page?view=storageInsa&lang={{locale}}">인사동<spring:message code="label.artwork.keep.insa" /></a>  
                               </li>
                               <li>    
                                   <a href="/service/page?view=storageJangheung&lang={{locale}}">장흥<spring:message code="label.artwork.keep.jangheung" /></a>   
                               </li>
                               <li>     
                                   <a href="/service/page?view=storagePyeongchang&lang={{locale}}">평창동<spring:message code="label.artwork.keep.Pyeongchang" /></a>     
                               </li>   
                           </ul>
                       </li> 
                       <li>
                        <a href="./Newsletter.html">뉴스레터<spring:message code="label.artwork.keep" /><img src="./images/icon/now_icon.png" /></a> 
                    </li>
                   </ul> 
                </li>
                <li><a href="#">ABOUT</a>  
                   <ul>
                       <li><a href="/about/page?view=introduction&lang={{locale}}">회사소개<spring:message code="label.seoulauction.introduction" /></a></li>
                       <li><a href="/about/page?view=introGang&lang={{locale}}">강남센터<spring:message code="label.seoulauction.introgang" /></a></li>
                       <li><a href="/about/page?view=history&lang={{locale}}">연혁<spring:message code="label.seoulauction.history" /></a></li> 
                       <!--<li><a href="/about/page?view=saplus">SA+</a></li>-->
                       <!-- api 문제로 투자정보 페이지 잠시 다운 -->
                       <!-- <li><a href="/about/page?view=investRealtime&lang={{locale}}"><spring:message code="label.seoulauction.invest" /></a></li> -->  
                       <!--<li><a href="/about/page?view=snsChannels"><spring:message code="label.seoulauction.sns" /></a></li>-->
                       <li><a href="/about/page?view=pressList&lang={{locale}}">언론보도<spring:message code="label.press" /></a></li>
                       <li><a href="/noticeList?lang={{locale}}">공지사항<spring:message code="label.notice" /></a></li> 
                       <li ng-if="locale == 'ko'">   
                           <span ng-if="recruitMent > 0"><a href="./recruitList.html">채용공고<spring:message code="label.recruit" /><img src="./images/icon/now_icon.png" /></a></span> 
                       </li>  
                       <li> 
                           <a href="/about/page?view=location&lang={{locale}}">위치안내<spring:message code="label.seoulauction.location" /></a>
                       </li>
                       <li><a href="/about/page?view=faq&lang={{locale}}">FAQ<spring:message code="label.faq" /></a></li>
                   </ul>   
                  </li>        
               
               <!-- 강남전시 1,2 -->
               <li class="dropdown" ng-if="locale=='ko'"><a href="/about/page?view=gnExhibition">강남센터 Exhibition</a></li>
                <!-- <li class="dropdown" ng-if="locale!='ko'"><a href="/about/page?view=gnExhibition">Gangnam Center Exhibition</a></li>
               <li class="dropdown"><a href="/about/page?view=gnExhibition" ><spring:message code="label.seoulauction.introgang1" /></a></li> -->
               <!-- <li class="dropdown"><a href="/about/page?view=gnExhibition02" ><spring:message code="label.seoulauction.introgang2" /></a></li> -->
               
               <li class="dropdown"> 
                   <div class="mobile_copyright">
                       <div class="copy_txtbox">
                           <p class="copy_txtbox_url">
                                  www.seoulauction.com
                              </p>
                              <p class="copy_txtbox_inquery">
                                  <a ng-if="locale == 'ko'" href="tel:02-395-0330" style="color: #333;">고객센터</a>
                                  <a ng-if="locale == 'ko'" href="/customer/inquiryForm" style="color: #333;">1:1 문의</a>     
                               <a ng-if="locale != 'ko'" href="/customer/inquiryForm" style="color: #333;">1:1 Inquiry</a>       
                              </p>  
                       </div> 
                          
                          <div class="copy_snsbox">  
                              <ul>
                                  <li><a class="snsbox1" href="https://www.facebook.com/seoulauction"></a></li>
                                  <li><a class="snsbox2" href="http://blog.naver.com/PostList.nhn?blogId=s_auction"></a></li>
                                  <li><a class="snsbox3" href="https://www.instagram.com/seoulauction/"></a></li>  
                                  <li><a class="snsbox4" href="https://pf.kakao.com/_yxiUyxl"></a></li>       
                              </ul>    
                          </div> 
                      </div> 
               </li>    
              </ul>   
          </nav>     
   </div><!-- //mySidenav -->   

<script src="/js/topmenu02.js"></script>
<script>  
    $(document).ready(function () {
        /* 모바일용 메뉴 제이쿼리 (em) */ 
        $('.my-nav').mgaccordion();
        $('.my-nav2').mgaccordion({
            theme: 'tree',
             leaveOpen: true
        });  
        
        /* 모바일용 메뉴 alert 스크립트 (em)*/      
        $("#M_Only_OfflineEnd").click(function() {  
            if("${pageContext.response.locale}"=='ko'){
                alert("진행 경매가 없습니다");
            } else {
                alert("There is no auctions going on currently.");
            }
        });
        $("#M_Only_OfflineUpcomEnd").click(function() {  
            if("${pageContext.response.locale}"=='ko'){  
                alert("예정 경매가 없습니다"); 
            } else { 
                alert("There is no upcoming auctions currently.");
            }
        });
        $("#M_Only_OnlineEnd , #M_Only_ZeroEnd").click(function() { 
            if("${pageContext.response.locale}"=='ko'){
                alert("진행 경매가 없습니다");
            } else {
                alert("There is no auctions going on currently.");
            }
        });
        $("#M_Only_OnlineUpcomEnd").click(function() { 
            if("${pageContext.response.locale}"=='ko'){
                alert("예정 경매가 없습니다");
            } else {
                alert("There is no upcoming auctions currently.");
            }  
        });
        $("#M_Only_OutsideEnd").click(function() { 
            if("${pageContext.response.locale}"=='ko'){
                alert("예정 경매가 없습니다");
            } else {
                alert("There is no auctions going on currently.");
            } 
        });  
        
        $("#M_Only_RecruitEnd").click(function() { 
            if("${pageContext.response.locale}"=='ko'){
                alert("진행중인 채용공고가 없습니다"); 
            } else {
                alert("There is no open recruitment");  
            }  
        });    
    });
    </script>  

    <script src="./js/topmenu02.js" type="text/javascript"></script>
    <script type="text/javascript" src="./js/old/ui.js"></script> 