<!DOCTYPE html>
<html lang="ko" ng-app="myApp">
<head>
<meta name="naver-site-verification" content="e43736eddfc3d46038024a9d2132da077391aadf"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta charset="UTF-8">
<title>서울옥션</title>
	<meta name="format-detection" content="telephone=no">
	<meta name="viewport" content="width=device-width, user-scalable=yes, initial-scale=1">    
	<meta name="description" content="미술품 경매를 통해 많은 사람들과 일상 속 예술의 경험과 기쁨을 나누고자 합니다.">
	<meta name="keywords" content="미술품,경매,작품,미술,근현대,고미술,와인,보석,구매,판매,위탁,경매회사,갤러리,케이옥션,K옥션,seoulauction,auction">
	<meta name="author" content="SeoulAuction">
	<meta name="Copyright" content="SeoulAuction" /> 
	<meta name="Claasification" content="회사소개, 미술품소개, 경매, 구매, 위탁" />       
	<meta property="og:type" content="website"> 
	<meta property="og:url" content="https://www.seoulauction.com">
	<meta property="og:title" content="SeoulAuction">
	<meta property="og:description" content="미술품 경매를 통해 많은 사람들과 일상 속 예술의 경험과 기쁨을 나누고자 합니다.">
	<meta property="og:image" content="https://www.seoulauction.com/nas_img/front/homepage/201508122329463497773394954126.jpg"/>        
	<meta property="al:web:url" content="https://www.seoulauction.com">

	<link rel="apple-touch-icon-precomposed" sizes="57x57" href="./images/icon/favic/apple-touch-icon-57x57.png" />
	<link rel="apple-touch-icon-precomposed" sizes="72x72" href="./images/icon/favic/apple-touch-icon-72x72.png" />
	<link rel="apple-touch-icon-precomposed" sizes="114x114" href="./images/icon/favic/apple-touch-icon-114x114.png" />
	<link rel="apple-touch-icon-precomposed" sizes="120x120" href="./images/icon/favic/apple-touch-icon-120x120.png" />
	<link rel="apple-touch-icon-precomposed" sizes="152x152" href="./images/icon/favic/apple-touch-icon-152x152.png" />
	<link rel="icon" type="image/png" href="./images/icon/favic/favicon-32x32.png" sizes="32x32"/>
	<link rel="icon" type="image/png" href="./images/icon/favic/favicon-16x16.png" sizes="16x16"/> 
	<meta name="application-name" content="SeoulAuction" />
	
	<link href="./css/old/common.css" rel="stylesheet" type="text/css"> 
	<link href="./css/sa.common.2.0.css" rel="stylesheet" type="text/css">    
	<link href="./css/sa.common.2.1.css" rel="stylesheet" type="text/css">
	<link type="text/css" href="./css/imgzoom/magnific-popup.css" rel="stylesheet"> 
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons"><!-- 아트컨실팅 및 후원 기증 페이지 웹아이콘 -->

	<!-- 메인에만 -->
	<link href="./css/old/onepcssgrid_new.css" rel="stylesheet" type="text/css"/>

	<!-- 아이패드 버전 슬라이드 플러그인 -->
	<link href="./css/jquery.bxslider.min.css" rel="stylesheet">
	<link href="./css/main_bxslider.css" rel="stylesheet">
	<!-- 모바일메뉴 --> 
	<link rel="stylesheet" href="./css/topmenu02.css" type="text/css">          
	
	<!-- <link href="./css/custom.css" />" rel="stylesheet"> -->
	<!--[if lt IE 9]>
		<link href="./css/ie8-and-down.css" rel="stylesheet">
	<![endif]-->
<!--     <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular-sanitize.js"></script> -->
	<!-- <script type="text/javascript" src="./js/angular/angular.min.js"></script>
	<script src="./js/angular/angular-sanitize.js"></script> -->
	<!-- <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular-i18n/1.4.9/angular-locale_ko-kr.min.js"></script> -->
	<!-- <script type="text/javascript" src="./js/angular/angular-bind-html-compile.js"></script>
	<script type="text/javascript" src="./js/angular/app.js"></script> -->
	<script type="text/javascript" src="./js/common.js"></script>

<!--      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.js" ></script> -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.10.2/jquery.js" ></script> 
	<script type="text/javascript" src="./js/jquery.easing.1.3.js"></script> 
	<script type="text/javascript" src="./js/jquery.panzoom.min.js"></script>
	<script type="text/javascript" src="./js/jquery.slides.min.js"></script>
	<script type="text/javascript" src="./js/jquery.placeholder.min.js"></script>
	<!-- <script type="text/javascript" src="./js/old/jquery.selectbox-0.2.js"></script>-->
	<script type="text/javascript" src="./js/jquery.bxslider.js"></script>
	<script type="text/javascript" src="./js/jquery.bxslider.min.js"></script>
	<script type="text/javascript" src="./js/jquery.nicefileinput.min.js"></script>
	<script type="text/javascript" src="./js/jquery.mousewheel.min.js"></script>
	<script type="text/javascript" src="./js/jquery.mobile-events.js"></script> 
	<script type="text/javascript" src="./js/iscroll.js"></script>
	<script type="text/javascript" src="./js/old/ui.js"></script>
	<script type="text/javascript" src="./js/old/frontCommon.js"></script>
	<script type="text/javascript" src="./js/rightClick.js"></script> 
	<script type="text/javascript" src="./js/imgzoom/jquery.magnific-popup.min.js"></script>

	<!-- header, footer -->
	<script type="text/javascript">
		$(function(){
			$(".header_wrap").load('./header.html');
			$(".footer_wrap").load('./footer.html');
			$(".footer_sub").load('./footer_in.html');
		}); 
	</script>
</head>
<body class="main">
    <!-- topsearch.jsp -->
    <div class="m_only">
        <form id="frmTopSearch" action="/search" method="get">
            <input id="topSearchContent" type="hidden" name="searchContent" />
        </form>
        <!-- 모바일용 -->
        <div class="m_search">
            <dl>
                <dt><label for="">검색어</label></dt>
                <dd><div><input type="text" name="" id="searchContentMob" /></div></dd>
            </dl>
            <button type="button" class="sp_btn btn_search" onclick="goSearch('searchContentMob', true);">
                <span class="hidden">검색</span>
            </button>
            <button type="button" class="sp_btn btn_search_close">
                <span class="hidden">닫기</span>
            </button><!-- 20150615 -->
        </div>
        <!-- //모바일용 -->
        <!-- 커튼배너 -->
        <div id="kanggTopLayer" class="curtain_wrapper" style="display:none;"></div>
        <!-- //커튼배너 --> 
    </div>
<div id="wrap" class="noexhibition"> 
	<div class="header_wrap"></div>

	<div class="container_wrap">
		<div class="shadow left"><span class="corner"></span></div>
		<div class="shadow right"><span class="sp_txt img_logo_v"><span class="hidden">&copy; SeoulAuction Corp.</span></span></div>
		<div id="container" ng-controller="inquiryViewCtl" data-ng-init="init()">
			<div class="sub_menu_wrap menu06">
				<div class="sub_menu">
					<jsp:include page="../include/customerSubMenu.jsp" flush="false"/>
				</div>
				<button type="button" class="m_only btn_submenu"><span class="hidden">메뉴보기</span></button>
			</div>
			<!-- //sub_menu_wrap -->

			<div class="contents_wrap">
				<div class="contents">
					<div class="tit_h2">
						<h2>1대1문의</h2>
                        <p>한국 근현대 및 고미술 그리고 해외미술에 문의하신 작품은 경매 진행 가능 여부를 검토 후, 7일 이내에 답변을 드리고 있습니다. </p>
					</div>
					<div class="board_read">
						<div class="title">고미술 작품 문의</div>
						<div class="info">
							<ul>
								<li>
									<span>문의종류 : </span>
									<span>고미술</span></span>
								</li>
								<li>
									<span>담당자 : </span>
									홍길동
								</li>
								<li>
									<span>처리현황 : </span>
									<span>답변</span>
								</li>
								<li>
									<span>최종답변일 : </span>
									<span>2019.12.18</span>
								</li>
							</ul>
						</div>
						<div class="cont">
							<div class="area question">
								<div class="tit">
									<span class="sp_icon bul_question">
										<span class="hidden">질문</span>
									</span>
									회원님 질문내용
									<span class="bar_space02">고미술 위탁</span></div>
								<div class="txt" ng-bind-html="inquiry.CONTENT"></div>
								<div class="file_area" ng-if="fileList.length > 0">
									<p class="ico_file"><img src="./images/bg/bul_file02.png"> 첨부파일</p>
									<span ng-repeat="file in fileList">
									<a href="javascript:void(0);">첨부파일명</a>&nbsp;&nbsp;
									</span>
								</div>
							</div>
							<div class="area answer" ng-repeat="reply in replyList">					
								<div class="tit">
									<span class="sp_icon bul_answer">
										<span class="hidden">답변</span>
									</span>
									<strong>홍길동</strong> 담당자 답변내용 <span class="bar_space02">문의 전화 부탁드립니다. 02-000-0000</span>
								</div>
								<div class="txt" ng-bind-html="reply.CONTENT"></div>
							</div>
						</div>
					</div>
					<div class="btn_wrap link">
						<div class="right">
							<span class="btn_style01 white02 icon btn_list mbtn">
								<span class="ico list"></span>
								<a href="./inquiryList.html">
									<span>목록</span>
								</a>
							</span>
						</div>
					</div>
				</div>
			</div>

		</div>
	</div>
</div>
<!-- //#wrap -->
<div class="footer_sub"></div>
<div class="footer_wrap"></div> 
</body>
</html>