<!DOCTYPE html>
<html lang="ko" ng-app="myApp">
<head>
<meta name="naver-site-verification" content="e43736eddfc3d46038024a9d2132da077391aadf"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta charset="UTF-8">
<title>서울옥션</title>
	<meta name="format-detection" content="telephone=no">
	<meta name="viewport" content="width=device-width, user-scalable=yes, initial-scale=1">    
	<meta name="description" content="미술품 경매를 통해 많은 사람들과 일상 속 예술의 경험과 기쁨을 나누고자 합니다.">
	<meta name="keywords" content="미술품,경매,작품,미술,근현대,고미술,와인,보석,구매,판매,위탁,경매회사,갤러리,케이옥션,K옥션,seoulauction,auction">
	<meta name="author" content="SeoulAuction">
	<meta name="Copyright" content="SeoulAuction" /> 
	<meta name="Claasification" content="회사소개, 미술품소개, 경매, 구매, 위탁" />       
	<meta property="og:type" content="website"> 
	<meta property="og:url" content="https://www.seoulauction.com">
	<meta property="og:title" content="SeoulAuction">
	<meta property="og:description" content="미술품 경매를 통해 많은 사람들과 일상 속 예술의 경험과 기쁨을 나누고자 합니다.">
	<meta property="og:image" content="https://www.seoulauction.com/nas_img/front/homepage/201508122329463497773394954126.jpg"/>        
	<meta property="al:web:url" content="https://www.seoulauction.com">

	<link rel="apple-touch-icon-precomposed" sizes="57x57" href="./images/icon/favic/apple-touch-icon-57x57.png" />
	<link rel="apple-touch-icon-precomposed" sizes="72x72" href="./images/icon/favic/apple-touch-icon-72x72.png" />
	<link rel="apple-touch-icon-precomposed" sizes="114x114" href="./images/icon/favic/apple-touch-icon-114x114.png" />
	<link rel="apple-touch-icon-precomposed" sizes="120x120" href="./images/icon/favic/apple-touch-icon-120x120.png" />
	<link rel="apple-touch-icon-precomposed" sizes="152x152" href="./images/icon/favic/apple-touch-icon-152x152.png" />
	<link rel="icon" type="image/png" href="./images/icon/favic/favicon-32x32.png" sizes="32x32"/>
	<link rel="icon" type="image/png" href="./images/icon/favic/favicon-16x16.png" sizes="16x16"/> 
	<meta name="application-name" content="SeoulAuction" />
	
	<link href="./css/old/common.css" rel="stylesheet" type="text/css"> 
	<link href="./css/sa.common.2.0.css" rel="stylesheet" type="text/css">    
	<link href="./css/sa.common.2.1.css" rel="stylesheet" type="text/css">
	<link type="text/css" href="./css/imgzoom/magnific-popup.css" rel="stylesheet"> 
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons"><!-- 아트컨실팅 및 후원 기증 페이지 웹아이콘 -->

	<!-- 메인에만 -->
	<link href="./css/old/onepcssgrid_new.css" rel="stylesheet" type="text/css"/>

	<!-- 아이패드 버전 슬라이드 플러그인 -->
	<link href="./css/jquery.bxslider.min.css" rel="stylesheet">
	<link href="./css/main_bxslider.css" rel="stylesheet">
	<!-- 모바일메뉴 --> 
	<link rel="stylesheet" href="./css/topmenu02.css" type="text/css">          
	
	<!-- <link href="./css/custom.css" />" rel="stylesheet"> -->
	<!--[if lt IE 9]>
		<link href="./css/ie8-and-down.css" rel="stylesheet">
	<![endif]-->
<!--     <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular-sanitize.js"></script> -->
	<!-- <script type="text/javascript" src="./js/angular/angular.min.js"></script>
	<script src="./js/angular/angular-sanitize.js"></script> -->
	<!-- <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular-i18n/1.4.9/angular-locale_ko-kr.min.js"></script> -->
	<!-- <script type="text/javascript" src="./js/angular/angular-bind-html-compile.js"></script>
	<script type="text/javascript" src="./js/angular/app.js"></script> -->
	<script type="text/javascript" src="./js/common.js"></script>

<!--      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.js" ></script> -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.10.2/jquery.js" ></script> 
	<script type="text/javascript" src="./js/jquery.easing.1.3.js"></script> 
	<script type="text/javascript" src="./js/jquery.panzoom.min.js"></script>
	<script type="text/javascript" src="./js/jquery.slides.min.js"></script>
	<script type="text/javascript" src="./js/jquery.placeholder.min.js"></script>
	<!-- <script type="text/javascript" src="./js/old/jquery.selectbox-0.2.js"></script>-->
	<script type="text/javascript" src="./js/jquery.bxslider.js"></script>
	<script type="text/javascript" src="./js/jquery.bxslider.min.js"></script>
	<script type="text/javascript" src="./js/jquery.nicefileinput.min.js"></script>
	<script type="text/javascript" src="./js/jquery.mousewheel.min.js"></script>
	<script type="text/javascript" src="./js/jquery.mobile-events.js"></script> 
	<script type="text/javascript" src="./js/iscroll.js"></script>
	<script type="text/javascript" src="./js/old/ui.js"></script>
	<script type="text/javascript" src="./js/old/frontCommon.js"></script>
	<script type="text/javascript" src="./js/rightClick.js"></script> 
	<script type="text/javascript" src="./js/imgzoom/jquery.magnific-popup.min.js"></script>

	<!-- header, footer -->
	<script type="text/javascript">
		$(function(){
			$(".header_wrap").load('./header.html');
			$(".footer_wrap").load('./footer.html');
			$(".footer_sub").load('./footer_in.html');
		}); 
	</script>

	<script type="text/javascript" src="/js/inquiry.js?ver=20210804"></script>
	<script type="text/javascript">
		var handleFileSelect = function(evt) {
			//var files = evt.target.files;
			//var file = files[0];
			
			console.log(evt);
			
			/*if (files && file) {
				var reader = new FileReader();

				reader.onload = function(readerEvt) {
					var binaryString = readerEvt.target.result;
					//angular.element(document.getElementById('attachFile')).scope().uploadFile(btoa(binaryString));
				};

				reader.readAsBinaryString(file);
			}*/
		};

		/*if (window.File && window.FileReader && window.FileList && window.Blob) {
			document.getElementById("attachFile").addEventListener("change", handleFileSelect, false);
		} else {
			alert('The File APIs are not fully supported in this browser.');
		}*/

		$(document).ready(function() {
			$("#attachFile").bind("change", function(evt){
				console.log(evt);
				
				var files = evt.target.files;
				var file = files[0];
				var agent = navigator.userAgent.toLowerCase();
				
				if (files && file) {
					var reader = new FileReader();
					reader.onload = function(readerEvt) {
						console.log(file.name);
						var buffer = readerEvt.target.result;
						var b64 = null;
						
						if ( (navigator.appName == 'Netscape' && navigator.userAgent.search('Trident') != -1) || (agent.indexOf("msie") != -1) ) {
							var binary = '';
							var bytes = new Uint8Array( buffer );
							var len = bytes.byteLength;
							for (var i = 0; i < len; i++) {
								binary += String.fromCharCode( bytes[ i ] );
							}
							b64 = window.btoa( binary );
						}
						else{
							b64 = window.btoa(buffer);
						}
						
						//var b64 = btoa(String.fromCharCode.apply(null, new Uint8Array(binaryString)));
						//$("#inquiryContent").val(b64);
						angular.element($("#attachFile")).scope().uploadFile(b64, file.name);
					};
					/* IE11 체크 */
					if ( (navigator.appName == 'Netscape' && navigator.userAgent.search('Trident') != -1) || (agent.indexOf("msie") != -1) ) {
						reader.readAsArrayBuffer(file);
					}
					else{
						reader.readAsBinaryString(file);
					}

				}
			});
			
			$(".hide_row").hide();
		});
	</script>
	<style type="text/css">
		.uploadify {
			float: left;
			position: relative;
			top: 0px;
			left: 0px;
		}
		.attachFileBtn {
			position: absolute;
			top: 0px;
			left: 0px;
		}
		.fileList {
			list-style: none;
			margin-left: 100px;
		}
		.fileList > li {
			float: left;
			margin-left: 15px;
			line-height: 32px;
		}
		select{
			height:30px !important;
		}
	
	</style>
</head>
<body class="main">
    <!-- topsearch.jsp -->
    <div class="m_only">
        <form id="frmTopSearch" action="/search" method="get">
            <input id="topSearchContent" type="hidden" name="searchContent" />
        </form>
        <!-- 모바일용 -->
        <div class="m_search">
            <dl>
                <dt><label for="">검색어</label></dt>
                <dd><div><input type="text" name="" id="searchContentMob" /></div></dd>
            </dl>
            <button type="button" class="sp_btn btn_search" onclick="goSearch('searchContentMob', true);">
                <span class="hidden">검색</span>
            </button>
            <button type="button" class="sp_btn btn_search_close">
                <span class="hidden">닫기</span>
            </button><!-- 20150615 -->
        </div>
        <!-- //모바일용 -->
        <!-- 커튼배너 -->
        <div id="kanggTopLayer" class="curtain_wrapper" style="display:none;"></div>
        <!-- //커튼배너 --> 
    </div>
<div id="wrap">
	<div class="header_wrap"></div>
	<div class="container_wrap">
		<div class="shadow left"><span class="corner"></span></div>
		<div class="shadow right"><span class="sp_txt img_logo_v"><span class="hidden">&copy; SeoulAuction Corp.</span></span></div>
		<div id="container">
			<div class="contents_wrap">
				<div class="contents">
					<div class="tit_h2 type03">
						<h2>문의<spring:message code="label.membership.inquery" /></h2>
						<p><span class="txt_green">서울옥션 이용에 있어 궁금한 점을 문의해주세요. 답변은 내정보 > 1대1문의에서 확인하실 수 있습니다.<strong><spring:message code="label.membership.inquery01" /></strong></p>
                        <p>한국 근현대 및 고미술 그리고 해외미술에 문의하신 작품은 경매 진행 가능 여부를 검토 후, 7일 이내에 답변을 드리고 있습니다.<spring:message code="message.membership.inquery" /></p>
					</div>
					<form id="frmInquiry" action="" method="post" enctype='multipart/form-data'>
						<fieldset>
							<legend>문의<spring:message code="label.membership.inquery" /></legend>
							<div class="tbl_style01 m_tbl_z060">
								<table>
									<caption>문의글<spring:message code="label.membership.inquery" /></caption>
									<colgroup>
										<col style="width:15%;">
										<col>
									</colgroup>
									<tbody>
										<tr>
											<th scope="row"><label for="">문의종류<spring:message code="label.membership.inquerytype" /></label></th>
											<td>
												<div class="fl_wrap">
													<div class="input_ver">
														<select name="category1" id="category1" class="selectbox">
															<option value="">선택하세요<spring:message code="message.Choose" /></option>
															<option value="">위탁/TO Consign</option>
															<option value="">프라이빗세일/Private Sale</option>
															<option value="">아카데미/Academy</option>
															<option value="">작품배송&결제/Payment&Shipping</option>
															<option value="">홈페이지 장애/WebSite Error</option>
															<option value="">전시/Exhibition</option>
															<option value="">제로베이스/Zerobase</option>
															<option value="">기타/Other Services</option>
														</select>
														<select name="category2" id="category2"
															ng-model="form_data.cate2" ng-if="inqCate2 != undefined && inqCate2.length > 0">
															<option value="">선택하세요<spring:message code="message.Choose" /></option>
															<option value="">근현대/Korean Contemporary Art</option>
															<option value="">고미술/Korean Antique</option>
															<option value="">해외미술/Traditional Art</option>
															<option value="">기타/Others</option>
														</select>
													</div>
												</div>
											</td>
										</tr>
										<tr>
											<th scope="row"><label for="">이메일<spring:message code="label.mem.email" /></label></th>
											<td>
												<div class="fl_wrap type02">
													<div class="input_email">
														<input type="text" name="form_data.email1" id="emailAccount" value=""
														ng-model="form_data.email1" placeholder="이메일 앞부분 입력" />
														<span class="tbl_label">@</span>
														<input type="text" name="form_data.email2" id="emailDom" value=""
														ng-model="form_data.email2" placeholder="이메일 도메인(뒷부분)입력" />
														<select name="email_dom" id="email_dom"  
															ng-model="email_select" ng-change="form_data.email2=email_select;">
															<option value="">선택하기</option>
															<option ng-repeat="val in emails" value="hosting">naver.com</option>
															<option ng-repeat="val in emails" value="hosting">daum.net</option>
															<option ng-repeat="val in emails" value="hosting">gmail.com</option>
														</select>
													</div>
												</div>

											</td>
										</tr>
										<tr>
											<th scope="row"><label for="">휴대폰<spring:message code="label.mem.mobile" /></label></th>
											<td>
												<div class="fl_wrap type02">
													<div class="input_phone fl">
														<select ng-model="form_data.hp1" name="mobile_1" id="" ng-model="form_data.hp1">
															<option ng-repeat="hp in hp1s" value="010">010</option>
														</select>
														<span class="tbl_label">-</span>
														<input type="text" ng-model="form_data.hp2" name="mobile_2" id="mobile2" value="" class="tac" maxlength="4" placeholder="앞자리" />
														<span class="tbl_label">-</span>
														<input type="text" ng-model="form_data.hp3" name="mobile_3" id="mobile3" value="" class="tac" maxlength="4" placeholder="뒷자리" />
													</div>
													<!--<div class="wrap_check">
														<div>
															<input type="checkbox" name="notice_sms_yn" value="N" id="noticeSms" ng-model="sms_yn"/>
															<label for="noticeSms">SMS 알림받기</label>
														</div>
													</div>--> 
												</div>
												<!--<p class="tbl_txt left">※ SMS 알림받기를 선택하시면, 답변 등록 시 알림문자를 발송해드립니다. </p>-->
											</td>
										</tr>
										<tr>
											<th scope="row"><label for=""><spring:message code="label.membership.inquerytitle" /></label></th>
											<td>
												<div class="input_full">
													<input type="text" name="inquiry_subject" id="inquirySubject" ng-model="form_data.title" />
												</div>
											</td>
										</tr>
										<tr>
											<th scope="row"><label for=""><spring:message code="label.membership.inquerycontents" /></label></th>
											<td>
												<div class="input_full">
													<textarea name="inquiry_content" id="inquiryContent" rows="5" ng-model="form_data.content"></textarea>
												</div>
											</td>
										</tr>
										<tr class="hide_row">
											<th scope="row"><label for=""><spring:message code="label.membership.inqueryartwork" /></label></th>
											<td>
												<div class="input_full">
													<input type="text" ng-model="sell_data.work_name" name="work_name" id="workName" />
												</div>
											</td>
										</tr>
										<tr class="hide_row">
											<th scope="row"><label for="">작가명</label> <span class="ico_essen"><span class="hidden">필수입력</span></span></th>
											<td><input type="text" ng-model="sell_data.artist_name" name="artist_name" id="artistName" /></td>
										</tr>
										<tr class="hide_row">
											<th scope="row"><label for="">작품재질</label></th>
											<td>
												<div class="input_full">
													<input type="text" ng-model="sell_data.work_material" name="work_material" id="workMaterial" />
												</div>
											</td>
										</tr>
										<tr class="hide_row">
											<th scope="row"><label for="">추정시대</label></th>
											<td>
												<div class="input_full"><input type="text" ng-model="sell_data.work_estate" name="work_estate" id="assuptionTime" /></div>
											</td>
										</tr>										
										<tr class="hide_row">
											<th scope="row"><label for="">작품크기</label></th>
											<td>
												<div class="input_full"><input type="text" ng-model="sell_data.work_size" name="work_size" id="workSize" /></div>
											</td>
										</tr>
										<tr class="hide_row">
											<th scope="row"><label for="">작품구분</label></th>
											<td>
												<div class="fl_wrap type02"> 	
													<div class="input_ver">
														<select ng-model="sell_data.work_category1" 
															name="work_category1" id="work_category1" ng-change="changeSellCate1();">
															<option value="">선택하세요</option>
															<option ng-repeat="cate in sell_categories1" value="{{cate}}">{{cate}}</option>
														</select>
														<select ng-model="sell_data.work_category2" style="display:none;"
															name="work_category2" id="work_category2" ng-change="changeSellCate2();">
															<option value="">선택하세요</option>
															<option ng-repeat="cate in sell_categories2" value="{{cate}}">{{cate}}</option>
														</select>
														<select ng-model="sell_data.work_category3" style="display:none;"
															name="work_category3" id="work_category3">
															<option value="">선택하세요</option>
															<option ng-repeat="cate in sell_categories3" value="{{cate}}">{{cate}}</option>
														</select>
													</div>
												</div>
											</td>
										</tr>
										<tr class="hide_row">
											<th scope="row"><label for="">희망가격</label></th>
											<td>
												<div class="fl_wrap">
													<input type="text" ng-model="sell_data.hope_price" name="hope_price" id="hopePrice" class="tar" onKeyUp="moneyFormat(this);"/>
													<span class="tbl_label">원</span>
												</div>
											</td>
										</tr>
										<tr class="hide_row">
											<th scope="row"><label for="">작가 설명</label></th>
											<td>
												<div class="input_full">
													<textarea ng-model="sell_data.artist_desc" name="artist_desc" id="" rows="3"></textarea>
												</div>
											</td>
										</tr>
										<tr class="hide_row">
											<th scope="row"><label for="">작품 설명</label></th>
											<td>
												<div class="input_full">
													<textarea ng-model="sell_data.work_desc" name="work_desc" id="" rows="3"></textarea>
												</div>
											</td>
										</tr>
										<tr class="hide_row">
											<th scope="row"><label for="">소장 경위</label> <span class="ico_essen"><span class="hidden">필수입력</span></span></th>
											<td>
												<div class="input_full">
													<input type="text" ng-model="sell_data.possession_details" name="possession_details" id="" />
												</div>
											</td>
										</tr>
										<tr>
											<th scope="row"><label for="">첨부파일 File</label> <span class="ico_essen"><span class="hidden">필수입력</span></span></th>
											<td>
												<span ng-if="locale == 'ko'" style="color:#F30; font-weight:600; display:block; padding-bottom: 10px;">※ 위탁문의시 작품 이미지가 첨부 되어야 정확한 답변이 가능합니다.</span>
												<span ng-if="locale != 'ko'" style="color:#F30; font-weight:600; display:block; padding-bottom: 10px;">※ Please attach the image file to get a prompt accurate answer. Choose the File</span>    
												<input type="file" name="attach_file" id="attachFile" class="uploadify"
													ng-model="form_file_data.files" /><br>
													<!-- onchange="angular.element(this).scope().uploadFile(this);"  -->
												<!-- <ul class="fileList" id="selectedFileList">
													<li ng-repeat="att in form_file_data.att_files_name track by $index">
														texttexttexttexttext<button type="button" class="sp_btn btn_attach_close deleteBtn" 
														ng-click="removeFile($index);">
														<span class="hidden">닫기</span></button>
													</li>
												</ul> --> 
											</td>
										</tr>
									</tbody>
								</table>
							</div>
							<div class="btn_wrap">
								<span class="btn_style01 gray large02"><button type="button" ng-click="cancel();">취소 cancel</button></span>
								<span class="btn_style01 dark large02"><button type="button" ng-click="saveForm();">저장 save</button></span>
							</div>
						</fieldset>
					</form>
				</div>
			</div>


		</div>
	</div>
</div>
<div style="display:none;" id="sell_form">
	<div class="tbl_style01 form inner">
		<table>
			<caption>위탁신청내용</caption>
			<colgroup>
				<col style="width:12%;">
				<col style="width:38%;">
				<col style="width:12%;">
				<col>
			</colgroup>
			<tbody>
				<tr>
					<th>작가명</th>
					<td id="tmp_artist_name"></td>
					<th>작품명</th>
					<td id="tmp_work_name"></td>
				</tr>
				<tr>
					<th>작품재료</th>
					<td id="tmp_work_material"></td>
					<th>작품구분</th>
					<td id="tmp_work_category"></td>
				</tr>
				<tr>
					<th>추정시대</th>
					<td id="tmp_work_estate"></td>
					<th>희망가격</th>
					<td id="tmp_hope_price"></td>
				</tr>
				<tr>
					<th>작품크기</th>
					<td id="tmp_work_size"></td>
				</tr>
				<tr>
					<th>작가 설명</th>
					<td colspan="3" id="tmp_artist_desc"></td>
				</tr>
				<tr>
					<th>작품 설명</th>
					<td colspan="3" id="tmp_work_desc"></td>
				</tr>
				<tr>
					<th>소장 경위</th>
					<td colspan="3" id="tmp_possession_details"></td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
<!-- //#wrap -->
<div class="footer_sub"></div>
<div class="footer_wrap"></div> 	
</body>
</html>